AtomPair  CA     1  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.4359 0.5 1
AtomPair  CA     1  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.10813 0.5 1
AtomPair  CB     1  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.3241 0.5 1
AtomPair  CB     1  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.92885 0.5 1
AtomPair  CA     1  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.981 0.5 1
AtomPair  CA     2  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.5904 0.5 1
AtomPair  CA     2  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.8439 0.5 1
AtomPair  CB     2  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.8801 0.5 1
AtomPair  CB     2  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.6905 0.5 1
AtomPair  CA     2  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.24377 0.5 1
AtomPair  CA     2  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.85531 0.5 1
AtomPair  CB     2  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.84339 0.5 1
AtomPair  CB     2  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.48868 0.5 1
AtomPair  CA     2  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.04417 0.5 1
AtomPair  CA     2  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.59122 0.5 1
AtomPair  CB     2  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.12961 0.5 1
AtomPair  CB     2  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 4.68784 0.5 1
AtomPair  CA     2  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.17858 0.5 1
AtomPair  CA     2  CB    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.6034 0.5 1
AtomPair  CB     2  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.94814 0.5 1
AtomPair  CB     2  CB    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.33259 0.5 1
AtomPair  CA     3  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.79277 0.5 1
AtomPair  CB     3  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.27406 0.5 1
AtomPair  CA     3  CA    12 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.679 0.5 1
AtomPair  CB     3  CA    12 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.9843 0.5 1
AtomPair  CA     3  CB    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.8098 0.5 1
AtomPair  CA     3  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.64 0.5 1
AtomPair  CA     3  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9309 0.5 1
AtomPair  CB     3  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.8775 0.5 1
AtomPair  CA     3  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.4288 0.5 1
AtomPair  CA     3  CB    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.3882 0.5 1
AtomPair  CB     3  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.8351 0.5 1
AtomPair  CB     3  CB    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.7308 0.5 1
AtomPair  CA     3  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.16662 0.5 1
AtomPair  CA     3  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.31929 0.5 1
AtomPair  CB     3  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.30125 0.5 1
AtomPair  CB     3  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.15686 0.5 1
AtomPair  CA     3  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.35103 0.5 1
AtomPair  CA     3  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.41843 0.5 1
AtomPair  CB     3  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.56837 0.5 1
AtomPair  CB     3  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.88376 0.5 1
AtomPair  CA     3  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.56658 0.5 1
AtomPair  CA     3  CB    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.0465 0.5 1
AtomPair  CB     3  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.18126 0.5 1
AtomPair  CB     3  CB    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.66339 0.5 1
AtomPair  CA     4  CB    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.8908 0.5 1
AtomPair  CA     4  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.2214 0.5 1
AtomPair  CA     4  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.3696 0.5 1
AtomPair  CB     4  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.6417 0.5 1
AtomPair  CB     4  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.7902 0.5 1
AtomPair  CA     4  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.93784 0.5 1
AtomPair  CA     4  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.88557 0.5 1
AtomPair  CB     4  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.0703 0.5 1
AtomPair  CB     4  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.93216 0.5 1
AtomPair  CA     5  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.4496 0.5 1
AtomPair  CA     5  CB    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.95843 0.5 1
AtomPair  CB     5  CB    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.6478 0.5 1
AtomPair  CA     5  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.456 0.5 1
AtomPair  CA     5  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.2625 0.5 1
AtomPair  CB     5  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.6486 0.5 1
AtomPair  CB     5  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.3689 0.5 1
AtomPair  CA     5  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.0852 0.5 1
AtomPair  CA     5  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.7508 0.5 1
AtomPair  CB     5  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.3837 0.5 1
AtomPair  CB     5  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.1956 0.5 1
AtomPair  CA     5  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.69028 0.5 1
AtomPair  CA     5  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.46256 0.5 1
AtomPair  CB     5  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.50373 0.5 1
AtomPair  CB     5  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.15683 0.5 1
AtomPair  CA     6  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.54908 0.5 1
AtomPair  CA     6  CB    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.1828 0.5 1
AtomPair  CB     6  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.98649 0.5 1
AtomPair  CB     6  CB    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.75881 0.5 1
AtomPair  CA     6  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.5041 0.5 1
AtomPair  CB     6  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.5108 0.5 1
AtomPair  CA     6  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.08548 0.5 1
AtomPair  CA     6  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.12188 0.5 1
AtomPair  CB     6  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.72298 0.5 1
AtomPair  CB     6  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.9246 0.5 1
AtomPair  CA     6  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.42107 0.5 1
AtomPair  CA     6  CB    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.71888 0.5 1
AtomPair  CB     6  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.41341 0.5 1
AtomPair  CB     6  CB    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.6436 0.5 1
AtomPair  CA     6  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.77069 0.5 1
AtomPair  CA     6  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.46749 0.5 1
AtomPair  CB     6  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.35097 0.5 1
AtomPair  CB     6  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.04418 0.5 1
AtomPair  CA     6  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.48882 0.5 1
AtomPair  CA     6  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.7103 0.5 1
AtomPair  CB     6  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.07091 0.5 1
AtomPair  CB     6  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.41849 0.5 1
AtomPair  CA     6  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9811 0.5 1
AtomPair  CB     6  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.52185 0.5 1
AtomPair  CB     6  CB    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.7367 0.5 1
AtomPair  CA     7  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.6307 0.5 1
AtomPair  CA     7  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.0866 0.5 1
AtomPair  CA     7  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.46845 0.5 1
AtomPair  CB     7  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.39 0.5 1
AtomPair  CB     7  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.8291 0.5 1
AtomPair  CA     7  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.319 0.5 1
AtomPair  CA     7  CB    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.769 0.5 1
AtomPair  CB     7  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.2612 0.5 1
AtomPair  CA     7  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.53116 0.5 1
AtomPair  CA     7  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.60131 0.5 1
AtomPair  CB     7  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.07319 0.5 1
AtomPair  CB     7  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.93868 0.5 1
AtomPair  CA     7  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1269 0.5 1
AtomPair  CA     7  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.59836 0.5 1
AtomPair  CB     7  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.5021 0.5 1
AtomPair  CB     7  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.97048 0.5 1
AtomPair  CA     8  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.8504 0.5 1
AtomPair  CA     8  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9406 0.5 1
AtomPair  CB     8  CB    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.6743 0.5 1
AtomPair  CA     8  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.7962 0.5 1
AtomPair  CA     9  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.1267 0.5 1
AtomPair  CB     9  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1524 0.5 1
AtomPair  CB     9  CB    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.5451 0.5 1
AtomPair  CA     9  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9809 0.5 1
AtomPair  CA     9  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.601 0.5 1
AtomPair  CB     9  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1904 0.5 1
AtomPair  CB     9  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9792 0.5 1
AtomPair  CA     9  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.9919 0.5 1
AtomPair  CB     9  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.6481 0.5 1
AtomPair  CB     9  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.0209 0.5 1
AtomPair  CA    10  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.7296 0.5 1
AtomPair  CA    10  CB    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.93 0.5 1
AtomPair  CA    11  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1599 0.5 1
AtomPair  CA    11  CB    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1968 0.5 1

