AtomPair  CA     1  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.4359 0.5 1
AtomPair  CA     1  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.981 0.5 1
AtomPair  CA     2  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.24377 0.5 1
AtomPair  CA     2  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.04417 0.5 1
AtomPair  CA     2  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.17858 0.5 1
AtomPair  CA     3  CA    12 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.679 0.5 1
AtomPair  CA     3  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.64 0.5 1
AtomPair  CA     3  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.4288 0.5 1
AtomPair  CA     3  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.16662 0.5 1
AtomPair  CA     3  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.35103 0.5 1
AtomPair  CA     3  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.56658 0.5 1
AtomPair  CA     4  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.2214 0.5 1
AtomPair  CA     4  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.93784 0.5 1
AtomPair  CA     5  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.4496 0.5 1
AtomPair  CA     5  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.456 0.5 1
AtomPair  CA     5  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.0852 0.5 1
AtomPair  CA     5  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.69028 0.5 1
AtomPair  CA     6  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.54908 0.5 1
AtomPair  CA     6  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.5041 0.5 1
AtomPair  CA     6  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.08548 0.5 1
AtomPair  CA     6  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.42107 0.5 1
AtomPair  CA     6  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.77069 0.5 1
AtomPair  CA     6  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.48882 0.5 1
AtomPair  CA     6  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9811 0.5 1
AtomPair  CA     7  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.6307 0.5 1
AtomPair  CA     7  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.0866 0.5 1
AtomPair  CA     7  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.319 0.5 1
AtomPair  CA     7  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.53116 0.5 1
AtomPair  CA     7  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1269 0.5 1
AtomPair  CA     8  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.8504 0.5 1
AtomPair  CA     8  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.7962 0.5 1
AtomPair  CA     9  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.1267 0.5 1
AtomPair  CA     9  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9809 0.5 1
AtomPair  CA    10  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.7296 0.5 1

