AtomPair  CA     1  CA     4 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 4.94392 0.5 1
AtomPair  CA     1  CA     5 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.33227 0.5 1
AtomPair  CA     2  CA     5 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.21882 0.5 1
AtomPair  CA     2  CA     6 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.40777 0.5 1
AtomPair  CA     2  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.04417 0.5 1
AtomPair  CA     3  CA     6 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 4.88913 0.5 1
AtomPair  CA     3  CA     7 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.12299 0.5 1
AtomPair  CA     3  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.16662 0.5 1
AtomPair  CA     3  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.35103 0.5 1
AtomPair  CA     4  CA     7 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.12108 0.5 1
AtomPair  CA     4  CA     8 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.16336 0.5 1
AtomPair  CA     5  CA     8 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.34345 0.5 1
AtomPair  CA     5  CA     9 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.69151 0.5 1
AtomPair  CA     6  CA     9 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.5153 0.5 1
AtomPair  CA     6  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.05208 0.5 1
AtomPair  CA     6  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.62114 0.5 1
AtomPair  CA     6  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.77069 0.5 1
AtomPair  CA     6  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.48882 0.5 1
AtomPair  CA     7  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.15164 0.5 1
AtomPair  CA     7  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 4.34908 0.5 1
AtomPair  CA     8  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.91623 0.5 1
AtomPair  CA     9  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.97395 0.5 1
AtomPair  CA     9  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.05083 0.5 1
AtomPair  CA    10  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.19412 0.5 1
AtomPair  CA    10  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.29041 0.5 1
AtomPair  CA    11  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.75102 0.5 1
AtomPair  CA    11  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.23144 0.5 1
AtomPair  CA    11  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.64695 0.5 1
AtomPair  CA    11  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.20242 0.5 1
AtomPair  CA    12  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.34475 0.5 1
AtomPair  CA    12  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.30225 0.5 1
AtomPair  CA    12  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.52351 0.5 1
AtomPair  CA    12  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.56392 0.5 1
AtomPair  CA    13  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.69286 0.5 1

