AtomPair  CA     2  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.2988 0.5 1
AtomPair  CA     2  CA    12 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.1274 0.5 1
AtomPair  CA     2  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.05730 0.5 1
AtomPair  CA     2  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.43192 0.5 1
AtomPair  CA     2  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.21080 0.5 1
AtomPair  CA     2  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.88118 0.5 1
AtomPair  CA     2  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.62924 0.5 1
AtomPair  CA     3  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.83432 0.5 1
AtomPair  CA     3  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.34557 0.5 1
AtomPair  CA     3  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.62240 0.5 1
AtomPair  CA     3  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.13522 0.5 1
AtomPair  CA     3  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.2132 0.5 1
AtomPair  CA     4  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.43423 0.5 1
AtomPair  CA     4  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.75836 0.5 1
AtomPair  CA     4  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.75497 0.5 1
AtomPair  CA     4  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.44017 0.5 1
AtomPair  CA     4  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.1779 0.5 1
AtomPair  CA     5  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.49636 0.5 1
AtomPair  CA     5  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.39403 0.5 1
AtomPair  CA     5  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.20341 0.5 1
AtomPair  CA     5  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.31609 0.5 1
AtomPair  CA     5  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.8783 0.5 1
AtomPair  CA     5  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.8993 0.5 1
AtomPair  CA     6  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.4791 0.5 1
AtomPair  CA     6  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.92588 0.5 1
AtomPair  CA     6  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.20225 0.5 1
AtomPair  CA     6  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.57975 0.5 1
AtomPair  CA     6  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.28879 0.5 1
AtomPair  CA     6  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.69624 0.5 1
AtomPair  CA     6  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9003 0.5 1
AtomPair  CA     7  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.59554 0.5 1
AtomPair  CA     7  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.14715 0.5 1
AtomPair  CA     7  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.46020 0.5 1
AtomPair  CA     7  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.71130 0.5 1
AtomPair  CA     7  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.62798 0.5 1
AtomPair  CA     7  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.81281 0.5 1
AtomPair  CA     8  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 5.06604 0.5 1
AtomPair  CA     8  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.24275 0.5 1
AtomPair  CA     8  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.84758 0.5 1
AtomPair  CA     8  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.70963 0.5 1
AtomPair  CA     8  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.91595 0.5 1
AtomPair  CA     9  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.38957 0.5 1
AtomPair  CA     9  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.26967 0.5 1
AtomPair  CA     9  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.24207 0.5 1
AtomPair  CA     9  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.44757 0.5 1
AtomPair  CA    10  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.5416 0.5 1
AtomPair  CA    10  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.98560 0.5 1
AtomPair  CA    10  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.68436 0.5 1
AtomPair  CA    11  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.9144 0.5 1
AtomPair  CA    11  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.58476 0.5 1

