AmbiguousConstraint
MultiConstraint
AtomPair  OD1    9  NE    16 FLAT_HARMONIC 2 0.5 1.5
Angle  CG     9  OD1    9  NE    16 FLAT_HARMONIC 2.09 0.5 0.4
Angle  OD1    9  NE    16  CZ    16 FLAT_HARMONIC 1.9 0.5 0.4
AmbiguousConstraint
Dihedral  OD2    9  CG     9  OD1    9  NE    16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD2    9  CG     9  OD1    9  NE    16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
AmbiguousConstraint
Dihedral  OD1    9  NE    16  CZ    16  NH1   16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD1    9  NE    16  CZ    16  NH1   16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
End_MultiConstraint
MultiConstraint
AtomPair  OD1    9  NH1   16 FLAT_HARMONIC 2 0.5 1.5
Angle  CG     9  OD1    9  NH1   16 FLAT_HARMONIC 2.09 0.5 0.4
Angle  OD1    9  NH1   16  CZ    16 FLAT_HARMONIC 1.9 0.5 0.4
AmbiguousConstraint
Dihedral  OD2    9  CG     9  OD1    9  NH1   16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD2    9  CG     9  OD1    9  NH1   16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
AmbiguousConstraint
Dihedral  OD1    9  NH1   16  CZ    16  NE    16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD1    9  NH1   16  CZ    16  NE    16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
End_MultiConstraint
MultiConstraint
AtomPair  OD1    9  NH2   16 FLAT_HARMONIC 2 0.5 1.5
Angle  CG     9  OD1    9  NH2   16 FLAT_HARMONIC 2.09 0.5 0.4
Angle  OD1    9  NH2   16  CZ    16 FLAT_HARMONIC 1.9 0.5 0.4
AmbiguousConstraint
Dihedral  OD2    9  CG     9  OD1    9  NH2   16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD2    9  CG     9  OD1    9  NH2   16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
AmbiguousConstraint
Dihedral  OD1    9  NH2   16  CZ    16  NE    16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD1    9  NH2   16  CZ    16  NE    16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
End_MultiConstraint
MultiConstraint
AtomPair  OD2    9  NE    16 FLAT_HARMONIC 2 0.5 1.5
Angle  CG     9  OD2    9  NE    16 FLAT_HARMONIC 2.09 0.5 0.4
Angle  OD2    9  NE    16  CZ    16 FLAT_HARMONIC 1.9 0.5 0.4
AmbiguousConstraint
Dihedral  OD1    9  CG     9  OD2    9  NE    16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD1    9  CG     9  OD2    9  NE    16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
AmbiguousConstraint
Dihedral  OD2    9  NE    16  CZ    16  NH1   16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD2    9  NE    16  CZ    16  NH1   16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
End_MultiConstraint
MultiConstraint
AtomPair  OD2    9  NH1   16 FLAT_HARMONIC 2 0.5 1.5
Angle  CG     9  OD2    9  NH1   16 FLAT_HARMONIC 2.09 0.5 0.4
Angle  OD2    9  NH1   16  CZ    16 FLAT_HARMONIC 1.9 0.5 0.4
AmbiguousConstraint
Dihedral  OD1    9  CG     9  OD2    9  NH1   16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD1    9  CG     9  OD2    9  NH1   16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
AmbiguousConstraint
Dihedral  OD2    9  NH1   16  CZ    16  NE    16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD2    9  NH1   16  CZ    16  NE    16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
End_MultiConstraint
MultiConstraint
AtomPair  OD2    9  NH2   16 FLAT_HARMONIC 2 0.5 1.5
Angle  CG     9  OD2    9  NH2   16 FLAT_HARMONIC 2.09 0.5 0.4
Angle  OD2    9  NH2   16  CZ    16 FLAT_HARMONIC 1.9 0.5 0.4
AmbiguousConstraint
Dihedral  OD1    9  CG     9  OD2    9  NH2   16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD1    9  CG     9  OD2    9  NH2   16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
AmbiguousConstraint
Dihedral  OD2    9  NH2   16  CZ    16  NE    16 FLAT_HARMONIC 0 0.5 0.4
Dihedral  OD2    9  NH2   16  CZ    16  NE    16 FLAT_HARMONIC 3.14159 0.5 0.4
End_AmbiguousConstraint
End_MultiConstraint
End_AmbiguousConstraint

