#
#
-score:weights standard
#
# The chi term correction
-score:hb_sp2_chipen
#
#
# HBond OH donor correction
-lj_hbond_hdis 1.75
-lj_hbond_OH_donor_dis 2.6
#
#ref_SER -= 0.1; ref_THR -= 0.1;
#
#
-hbond_params OLF_params
#
-options
 -user
#
#
#
-in
 -path %(sample_source_path)s/inputdecoys
 -file
  -silent \
	%(sample_source_path)s/inputdecoys/lr4_1a19.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1a32.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1a68.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1a8o.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1acf.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ail.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1aiu.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1b3a.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1bgf.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1bk2.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1bkr.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1bm8.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1bmg.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1bq9.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1c7k.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1c8c.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1c9o.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1cc8.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1cei.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1cg5.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ctf.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1dhn.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1dzo.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1e6i.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1elw.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1enh.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ew4.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1eyv.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1faa.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1fkb.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1fna.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1gu3.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1gvp.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1h75.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1hz6.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ig5.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1iib.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1jfv.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1kpe.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1l6p.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1lis.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1lou.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1mgw.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1mjc.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1nps.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1npu.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1o4w.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1o5u.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1o73.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1o7u.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1opd.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1pgx.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1poh.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1prq.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ptq.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1pxu.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1py9.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1r26.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1r69.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1rki.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1rnb.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1s12.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1scj.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1shf.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1srr.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1t2i.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ten.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1thx.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1tif.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1tig.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1tit.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ttz.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1tul.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1tza.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1u5z.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ubi.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ugh.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1unp.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1unr.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1urn.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1utg.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1vcc.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1vie.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1vkk.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1vls.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1wd6.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1wdv.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1wgb.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1who.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1wit.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1wjg.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1wou.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1xd6.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1ynv.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_1zd0.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_256b.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2acy.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2apb.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2cbm.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2ccv.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2chf.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2ci2.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2cmx.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2d4f.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2fls.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2h28.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hbo.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hcm.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2he4.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hh6.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hkv.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hl7.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hnf.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hng.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hsb.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hsh.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2hx5.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2i1u.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2i9c.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2ib0.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2icp.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2iiy.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2o7k.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2uzr.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_2vik.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_4icb.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_4ubp.out.gz \
	%(sample_source_path)s/inputdecoys/lr4_5cro.out.gz
  -silent_select_random 120
#
-out
 -nooutput
#
#Deleting old poses subsantialy reduces the memory requirements for
#for runs with a large number of structures
-jd2
 -delete_old_poses
#
-parser
 -protocol %(output_dir)s/%(sample_source_id)s/features.xml
#
#
-chemical
 -exclude_patches \
	LowerDNA \
	UpperDNA \
	Cterm_amidation \
	SpecialRotamer \
	protein_cutpoint_upper \
	protein_cutpoint_lower \
	ShoveBB \
	VirtualDNAPhosphate \
	CTermConnect \
	pro_hydroxylated_case1 \
	pro_hydroxylated_case2 \
	ser_phosphorylated \
	thr_phosphorylated \
	tyr_phosphorylated \
	tyr_sulfated \
	lys_dimethylated \
	lys_monomethylated \
	lys_trimethylated \
	lys_acetylated \
	glu_carboxylated \
	cys_acetylated \
	tyr_diiodinated \
	N_acetylated \
	C_methylamidated \
	MethylatedProteinCterm
#
#
-mute protocols.jd2
-mute core.io.pdb.file_data
-mute core.scoring.etable
-mute core.io.database
-mute core.scoring.ScoreFunctionFactory
-mute core.pack.task
-mute protocols.ProteinInterfaceDesign.DockDesign