SiteConstraint C1 1001A A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1002A A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1003A A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1004A A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1005A A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1006A A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1007A A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1008A A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1001B A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1002B A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1003B A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1004B A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1005B A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1006B A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1007B A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1008B A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1001C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1002C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1003C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1004C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1005C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1006C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1007C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1008C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1009C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1010C A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1011C A FLAT_HARMONIC 5.0 1.0 1.0
