SiteConstraint C1 1168X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1167X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1168X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1169X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1170X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1171X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1172X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1173X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1174X A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 1175A A FLAT_HARMONIC 5.0 1.0 1.0
