SiteConstraint C1 3E A FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 3G B FLAT_HARMONIC 5.0 1.0 1.0
SiteConstraint C1 2D F FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 2D G FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 3D F FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 3D G FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 4D F FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 4D G FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 5D F FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 5D G FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 1E F FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 1E G FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 2E F FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 2E G FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 3E F FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 3E G FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 2F D FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 2F E FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 3F D FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 3F E FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 4F D FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 4F E FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 5F D FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 5F E FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 1G D FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 1G E FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 2G D FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 2G E FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 3G D FLAT_HARMONIC 100 1.0 92
SiteConstraint C1 3G E FLAT_HARMONIC 100 1.0 92
