.svn
CMakeFiles
/external
/build
/bin
/src/core/svn_version.cc
*.pyc
*.o
*.so
*.dylib
*.os
.sconsign.dblite
._*
*~
\#*\#
build.err
build.log
/src/pilot_apps.src.settings
build_release
build_debug
*.cmake
/tools/build/user.settings
/tools/build/user.options
/cmake/build_staticmpi/*
!/cmake/build_staticmpi/CMakeLists.txt
/cmake/build_branch/*
!/cmake/build_branch/CMakeLists.txt
/cmake/build_branchdebug/*
!/cmake/build_branchdebug/CMakeLists.txt
.unit_test_results.yaml
test/integration/new/
test/integration/ref/



/cmake
/test
/ide
/doc
/demo
