AtomPair CA 13 CA 53 FLAT_HARMONIC 8 2 4
AtomPair CA 16 CA 53 FLAT_HARMONIC 8 2 4
AtomPair N 18 CA 53 FLAT_HARMONIC 8 2 4
AtomPair CA 19 O 53 FLAT_HARMONIC 8 2 4
KofNConstraint 3
AtomPair CA 33 CA 53 FLAT_HARMONIC 8 2 4
AtomPair CA 36 CA 53 FLAT_HARMONIC 8 2 4
AtomPair N 38 CA 53 FLAT_HARMONIC 8 2 4
AmbiguousConstraint
AtomPair CA 36 CA 63 FLAT_HARMONIC 8 2 4
AtomPair N 38 CA 63 FLAT_HARMONIC 8 2 4
AtomPair CA 39 O 63 FLAT_HARMONIC 8 2 4
END
AtomPair CA 39 O 53 FLAT_HARMONIC 8 2 4
AtomPair CA 33 CA 63 FLAT_HARMONIC 8 2 4
END
Angle CA 39 O 23 CA 53 CIRCULARHARMONIC 1 0.3
Dihedral CA 16 CA 23 N 38 CA 63 CIRCULARHARMONIC 1 0.3

