AtomPair CA 13 CA 23 FLAT_HARMONIC 8 2 4
AtomPair CA 16 CA 23 FLAT_HARMONIC 8 2 4
AtomPair N 18 CA 23 FLAT_HARMONIC 8 2 4
AtomPair CA 19 O 23 FLAT_HARMONIC 8 2 4
KofNConstraint 3
AtomPair CA 33 CA 23 FLAT_HARMONIC 8 2 4
AtomPair CA 36 CA 23 FLAT_HARMONIC 8 2 4
AtomPair N 38 CA 23 FLAT_HARMONIC 8 2 4
AmbiguousConstraint
AtomPair CA 36 CA 43 FLAT_HARMONIC 7 1 2
AtomPair N 38 CA 43 FLAT_HARMONIC 4 2 4
AtomPair CA 39 O 43 FLAT_HARMONIC 6 2 1
END
AtomPair CA 39 O 23 FLAT_HARMONIC 8 2 4
AtomPair CA 33 CA 43 FLAT_HARMONIC 8 2 4
END
Angle CA 39 O 23 CA 33 CIRCULARHARMONIC 1 0.3
Dihedral CA 16 CA 23 N 38 CA 43 CIRCULARHARMONIC 1 0.3
