.metadata
.svn
*.cproject
*.project
*.autotools
*.pydevproject
.DS_Store
*.pyc
*.o
*.so
*.dylib
*.os
*.riwyuf
._*
*~
*.swp
\#*\#
.\#*
.Rproj.user
*.RData
cscope.po.out
cscope.out
source/tags
source/Makefile
source/xcode/Rosetta.xcodeproj/project.pbxproj
source/xcode/DerivedData/
source/external/lib/boinc/
source/ide/RosettaMini.xcodeproj/
source/ide/RosettaMini.xcodeproj/project.xcworkspace/
source/ide/RosettaMini.xcodeproj/xcuserdata/
tests/sfxn_fingerprint/new/
.idea
.beaut
database/scoring/**/potential.bin.gz
source/.version.json
source/src/python/PyRosetta/src/pyrosetta/database
source/src/python/PyRosetta/src/pyrosetta.egg-info
.database-binaries/
.windows-vc-tools-signature
