[submodule "source/src/python/PyRosetta/binder"]
	path = source/src/python/PyRosetta/binder
	url = git@github.com:RosettaCommons/binder.git
[submodule "pyrosetta_scripts"]
	path = pyrosetta_scripts
	url = git@github.com:RosettaCommons/pyrosetta_scripts.git
[submodule "rosetta_scripts_scripts"]
	path = rosetta_scripts_scripts
	url = git@github.com:RosettaCommons/rosetta_scripts_scripts.git
[submodule "source/external/msgpack/msgpack-c.upstream"]
	path = source/external/msgpack/msgpack-c.upstream
	url = git@github.com:msgpack/msgpack-c.git
[submodule "source/external/libzmq"]
	path = source/external/libzmq
	url = git@github.com:RosettaCommons/libzmq.git
[submodule "database/additional_protocol_data_submodule"]
	path = database/additional_protocol_data_submodule
	url = git@github.com:RosettaCommons/additional_protocol_data.git
