.metadata
.svn
*.cproject
*.project
*.autotools
*.pydevproject
.DS_Store
*.pyc
*.o
*.so
*.dylib
*.os
._*
*~
*.swp
\#*\#
.\#*
.Rproj.user
source/Makefile  
source/xcode/Rosetta.xcodeproj/project.pbxproj
source/xcode/DerivedData/
source/ide/RosettaMini.xcodeproj/
source/ide/RosettaMini.xcodeproj/project.xcworkspace/
source/ide/RosettaMini.xcodeproj/xcuserdata/
database/chemical/components.*
tests/sfxn_fingerprint/new/
.idea
