<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Andrew's App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>ObjecxxFCL.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SnugDock copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>SnugDock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>antibody_model_CDR_H3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>basic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>core.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>core.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>core.3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>core.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>core.5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>devel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>docking_protocol.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>external.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>mutate_relax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>numeric.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>protocols.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>protocols.3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>protocols.6.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>protocols.7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>protocols_a.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>protocols_a.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>protocols_a.5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>protocols_b.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>protocols_b.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>protocols_b.5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>protocols_c.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>protocols_c.5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>protocols_d.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>protocols_d.5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>protocols_e.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>protocols_e.5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>protocols_f.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>protocols_f.5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>protocols_g.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>protocols_h.4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>relax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>rosetta_scripts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>rosetta_scripts_static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>rosetta_static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>scratch1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>utility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B7A001214977BC300905864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B7A001D149782E500905864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B945C71148C9D5200C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B946126148CA62A00C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9461A1148CB2B700C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B94630F148CBAD200C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B94635A148CBAD400C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9463A4148CBAD600C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9463EE148CBB3F00C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B946438148CBB4200C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B94648C148CBD9D00C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9464C8148CBE0A00C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B946503148CBE0C00C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B946548148CBF6800C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B94657A148CBF6E00C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9465AB148CBF7000C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9465EE148CBFBF00C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B94666D148CC98F00C2FBE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5BA03E1492D94500524FBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5BA0701492D95800524FBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5BA08C1492D96800524FBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5BA0AC1492D97300524FBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D64845014CDE9970038C383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D7D99D915D9A54300564DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DDF62A513EE13B800401374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DFB7A801405746F00EA18CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC3F980CA84E43000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC3FBA0CA84F63000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC400E0CA8522A000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC40E70CA8592F000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1120FFF136B62F3000B9DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139B5AF13687DEE0030829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139B7E213687E0F0030829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139BA0A13687E180030829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139BC3213687E200030829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1FC49F613687F42006C102D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1FD035B0E2851B800B3C702</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC5D958B15D6C9F700EAE42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD7E611F1731957C0015B226</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD7E618B173199060015B226</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD7E61F317319ADF0015B226</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
