<ROSETTASCRIPTS>
	<SCOREFXNS>
		<s weights=score12prime/>
	</SCOREFXNS>		
        <MOVERS>
		<SavePoseMover name=init_struct reference_name=init_struct/>
		<FastRelax name=fast_relax scorefxn=s/>
		<ReportToDB name=features_reporter db="%(output_dir)s/%(sample_source_id)s/features_%(sample_source_id)s.db3" sample_source="%(sample_source_description)s">
			<feature name=ScoreTypeFeatures/>
			<feature name=StructureScoresFeatures scorefxn=s/>
			<feature name=PoseCommentsFeatures/>
			<feature name=PoseConformationFeatures/>
			<feature name=ProteinRMSDFeatures reference_name=init_struct/>
			<feature name=RadiusOfGyrationFeatures/>
			<feature name=AtomAtomPairFeatures/>
			<feature name=ResidueTypesFeatures/>
			<feature name=ResidueFeatures/>
			<feature name=ResidueScoresFeatures scorefxn=s/>
			<feature name=PairFeatures/>
			<feature name=ResidueBurialFeatures/>
			<feature name=ResidueSecondaryStructureFeatures/>
			<feature name=ProteinBackboneAtomAtomPairFeatures/>
			<feature name=ProteinBackboneTorsionAngleFeatures/>
			<feature name=ProteinResidueConformationFeatures/>
			<feature name=HBondFeatures scorefxn=s/>
			<feature name=HBondParameterFeatures scorefxn=s/>
			<feature name=SaltBridgeFeatures/>
                </ReportToDB>
        </MOVERS>
        <PROTOCOLS>
		<Add mover_name=init_struct/>
		<Add mover_name=fast_relax/>
		<Add mover_name=features_reporter/>
        </PROTOCOLS>
</ROSETTASCRIPTS>
