<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>docking_protocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D3A99E613ECDF980081959A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D3A9AE313ECEA2A0081959A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DD20B9413A7F53800DF0CB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DDF5E8613EE126700401374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DDF62A513EE13B800401374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE2B09313EE362000772777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DFB7A801405746F00EA18CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE622F9A0CCE755800959D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE622FCE0CCE778600959D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC3F980CA84E43000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC3FBA0CA84F63000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC400E0CA8522A000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC40E70CA8592F000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC40FA0CA859AA000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEDC41140CA85A65000FAD97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1120FFF136B62F3000B9DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139B5AF13687DEE0030829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139B7E213687E0F0030829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139BA0A13687E180030829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139BC3213687E200030829C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D18BC3050FCDF1C6000AE673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D18DEB450EC9F41800F91FB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1CA2C0A110BFE910085C48B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1CA2C12110BFEDC0085C48B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1FC49F613687F42006C102D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1FD035B0E2851B800B3C702</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
