AtomPair OE2 165 OH 305 CONSTANTFUNC 2
AtomPair CA 111 CA 249 CONSTANTFUNC 5
Angle OE2 363 NH2 76 CZ 76 CONSTANTFUNC 6
Dihedral CG 221 ND2 221 OE1 165 CD 165 CONSTANTFUNC 7
AtomPair CA 445 OH 445 CONSTANTFUNC 9
Dihedral CG 25 ND2 25 CA 25 N 25  CONSTANTFUNC 8
