#Atom  ff_file  is_glob (1=yes)?
CNH2 	C.ff	0
COO 	C.ff	0
CH1 	C.ff	0
CH2 	C.ff	0
CH3 	C.ff	0
aroC 	C.ff	0
Ntrp 	N.ff	0
Nhis 	N.ff	0
NH2O 	N.ff	0
Nlys 	N.ff	0
Narg 	N.ff	0
Npro 	N.ff	0
OH 	O.ff	0
ONH2 	O.ff	0
OOC 	O.ff	0
Oaro 	O.ff	0
S 	S.ff	0
Nbb 	N.ff	0
CAbb 	C.ff	0
CObb 	C.ff	0
OCbb 	O.ff	0
Hpol 	H.ff	0
Hapo 	H.ff	0
Haro 	H.ff	0
HNbb 	H.ff	0
HOH 	O.ff	0
