#Atom  ff_file  is_glob (1=yes)?
OCbb 	O.ff	0
Nbb 	N.ff	0
CAbb 	C.ff	0
CObb 	C.ff	0

CEN_ARG ARG__CEN.ff	1
CEN_ASN ASN__CEN.ff	1
CEN_ASP ASP__CEN.ff	1
CEN_CYS CYS__CEN.ff	1
CEN_GLN GLN__CEN.ff	1
CEN_GLU GLU__CEN.ff	1
CEN_HIS HIS__CEN.ff	1
CEN_ILE ILE__CEN.ff	1
CEN_LEU LEU__CEN.ff	1
CEN_LYS LYS__CEN.ff	1
CEN_MET MET__CEN.ff	1
CEN_PHE PHE__CEN.ff	1
CEN_PRO PRO__CEN.ff	1
CEN_SER SER__CEN.ff	1
CEN_THR THR__CEN.ff	1
CEN_TRP TRP__CEN.ff	1
CEN_TYR TYR__CEN.ff	1
CEN_VAL VAL__CEN.ff	1
