# Binder config for Rosetta

-namespace boost
-namespace ObjexxFCL
+namespace utility
+namespace numeric
+namespace basic
+namespace core
+namespace protocols

-namespace utility::keys
-namespace utility::pointer

-namespace utility::options
#-namespace basic::options
-namespace protocols::boinc


-include <boost/format/internals.hpp>
-include <boost/graph/detail/adjacency_list.hpp>
-include <boost/function/function_template.hpp>


#+include <python/PyRosetta/binder/stl_binders.hpp>
+include <python/PyRosetta/binder/rosetta/rosetta_binders.hpp>

+binder std::vector      rosetta_binders::vector_binder
#binder utility::vectorL rosetta_binders::vectorL_binder
+binder utility::vector0 rosetta_binders::vector0_binder
+binder utility::vector1 rosetta_binders::vector1_binder

-class utility::vectorL

-class utility::pointer::ReferenceCount


# CifParse, objects not in namespace and relative include path is used (ie #include "...")
-class Serializer
-class ISTable
-class Block


# fix me later: other classes member functions take these as arguments
#-class utility::options::OptionKeys
#-class utility::options::OptionCollection

# Skipping undefinded template specializations
#-function utility::swap
#-function utility::keys::swap


# Skipping inline friend functions definition beacuse they reported as 'undefined symbol' by linker (GCC bug?)
#-function numeric::update_operation
#-function numeric::update_5way_operation
#-function numeric::subtract
#-function numeric::angle_of

# temporary until pybind11 bug of bindging template classes by-value resolved
#-function core::conformation::Conformation::fill_missing_atoms

# disabling bindings for vectorL since most if not all Rosetta types uses vector0 or vector1. Later: check if this this has significant impact on size and if not enable it
#-class utility::vectorL

# ???
-class std::vector<std::pair<unsigned long, unsigned long>,std::allocator<std::pair<unsigned long, unsigned long> >>


# ‘swap4DB’ was not declared in this scope, and no declarations were found by argument-dependent lookup at the point of instantiation [-fpermissive]
-class ObjexxFCL::FArray4D<int>

# no match for ‘operator*’ (operand types are ‘const ObjexxFCL::FArray1D<int>’ and ‘const ObjexxFCL::FArray1D<int>’)
-class ObjexxFCL::FArray1<ObjexxFCL::FArray1D<int>>

# no match for ‘operator!=’ (operand types are ‘core::pack::dunbrack::BBIndNRChiSample<>’ and ‘ObjexxFCL::FArrayTraits<core::pack::dunbrack::BBIndNRChiSample<> >::traits_type {aka core::pack::dunbrack::BBIndNRChiSample<>}’)
-class ObjexxFCL::FArray<core::pack::dunbrack::BBIndNRChiSample<float>>

# no match for ‘operator!=’ (operand types are ‘core::pack::dunbrack::BBDepNRChiSample<>’ and ‘ObjexxFCL::FArrayTraits<core::pack::dunbrack::BBDepNRChiSample<> >::traits_type {aka core::pack::dunbrack::BBDepNRChiSample<>}’)
-class ObjexxFCL::FArray<core::pack::dunbrack::BBDepNRChiSample<float>>

# no match for ‘operator==’ (operand types are ‘const core::pack::dunbrack::cenrot::CentroidRotamerSampleData’ and ‘const core::pack::dunbrack::cenrot::CentroidRotamerSampleData’)
-class ObjexxFCL::FArray<utility::vector1<core::pack::dunbrack::cenrot::CentroidRotamerSampleData, std::allocator<core::pack::dunbrack::cenrot::CentroidRotamerSampleData> >>

-class std::_Rb_tree_iterator
#-function std::map::insert
#-function std::multimap::insert
-function std::vector::data
-function std::list::unique
-function std::list::merge
-function std::list::sort
-function std::list::remove

-function utility::vector1::index
-function utility::vector1::contains
-function utility::vector1::has_value

-function utility::vectorL::index_of
-function utility::vectorL::contains
-function utility::vectorL::value

-function utility::vector1<core::pose::Pose,std::allocator<core::pose::Pose>>::index
-function utility::vector1<core::pose::Pose,std::allocator<core::pose::Pose>>::has_value

-class utility::vector1<protocols::stepwise::modeler::rna::phosphate::PhosphateMove,std::allocator<protocols::stepwise::modeler::rna::phosphate::PhosphateMove>>

# conversion from const?
-class utility::vector1<const protocols::sewing::ModelNode *,std::allocator<const protocols::sewing::ModelNode *>>

# bag of pointers?
-class std::list<const protocols::match::Hit *,std::allocator<const protocols::match::Hit *>>

# could not bind one of the constructors
#-class utility::vector1<std::pair<unsigned long, std::shared_ptr<const protocols::pack_daemon::PackDaemon> >,std::allocator<std::pair<unsigned long, std::shared_ptr<const protocols::pack_daemon::PackDaemon> > >>
#-class utility::vector1<std::pair<std::shared_ptr<protocols::hotspot_hashing::HotspotStubSet>, std::pair<std::shared_ptr<protocols::hotspot_hashing::HotspotStub>, unsigned long> >,std::allocator<std::pair<std::shared_ptr<protocols::hotspot_hashing::HotspotStubSet>, std::pair<std::shared_ptr<protocols::hotspot_hashing::HotspotStub>, unsigned long> > >>

-function utility::vector1<utility::vector1<protocols::make_rot_lib::CentroidRotNum, std::allocator<protocols::make_rot_lib::CentroidRotNum> >,std::allocator<utility::vector1<protocols::make_rot_lib::CentroidRotNum, std::allocator<protocols::make_rot_lib::CentroidRotNum> > >>::index
-function utility::vector1<utility::vector1<protocols::make_rot_lib::CentroidRotNum, std::allocator<protocols::make_rot_lib::CentroidRotNum> >,std::allocator<utility::vector1<protocols::make_rot_lib::CentroidRotNum, std::allocator<protocols::make_rot_lib::CentroidRotNum> > >>::has_value

-function utility::vector1<protocols::make_rot_lib::TorsionRange,std::allocator<protocols::make_rot_lib::TorsionRange>>::index
-function utility::vector1<protocols::make_rot_lib::TorsionRange,std::allocator<protocols::make_rot_lib::TorsionRange>>::has_value

-function utility::vector1<protocols::make_rot_lib::CentroidRotNum,std::allocator<protocols::make_rot_lib::CentroidRotNum>>::index
-function utility::vector1<protocols::make_rot_lib::CentroidRotNum,std::allocator<protocols::make_rot_lib::CentroidRotNum>>::has_value

-function utility::vector1<protocols::loops::SerializedLoop,std::allocator<protocols::loops::SerializedLoop>>::index
-function utility::vector1<protocols::loops::SerializedLoop,std::allocator<protocols::loops::SerializedLoop>>::has_value

-function utility::vector1<protocols::hotspot_hashing::VectorPair,std::allocator<protocols::hotspot_hashing::VectorPair>>::index
-function utility::vector1<protocols::hotspot_hashing::VectorPair,std::allocator<protocols::hotspot_hashing::VectorPair>>::has_value

-function utility::vector1<core::fragment::picking_old::vall::scores::VallFragmentScore, std::allocator<core::fragment::picking_old::vall::scores::VallFragmentScore> >::index
-function utility::vector1<core::fragment::picking_old::vall::scores::VallFragmentScore, std::allocator<core::fragment::picking_old::vall::scores::VallFragmentScore> >::has_value

-function utility::vector1<core::select::residue_selector::ResidueRange, std::allocator<core::select::residue_selector::ResidueRange> >::index
-function utility::vector1<core::select::residue_selector::ResidueRange, std::allocator<core::select::residue_selector::ResidueRange> >::has_value

-function utility::vector1<core::scoring::Hairpin, std::allocator<core::scoring::Hairpin> >::index
-function utility::vector1<core::scoring::Hairpin, std::allocator<core::scoring::Hairpin> >::has_value

-function utility::vector1<core::scoring::CSA, std::allocator<core::scoring::CSA> >::index
-function utility::vector1<core::scoring::CSA, std::allocator<core::scoring::CSA> >::has_value

-function utility::vector1<core::pose::UnrecognizedAtomRecord, std::allocator<core::pose::UnrecognizedAtomRecord> >::index
-function utility::vector1<core::pose::UnrecognizedAtomRecord, std::allocator<core::pose::UnrecognizedAtomRecord> >::has_value

-function utility::vector1<core::io::silent::SilentEnergy, std::allocator<core::io::silent::SilentEnergy> >::index
-function utility::vector1<core::io::silent::SilentEnergy, std::allocator<core::io::silent::SilentEnergy> >::has_value

-function utility::vector1<core::kinematics::RT, std::allocator<core::kinematics::RT> >::index
-function utility::vector1<core::kinematics::RT, std::allocator<core::kinematics::RT> >::has_value

-function utility::vector1<core::scoring::RDC_Rohl, std::allocator<core::scoring::RDC_Rohl> >::index
-function utility::vector1<core::scoring::RDC_Rohl, std::allocator<core::scoring::RDC_Rohl> >::has_value

-function utility::vector1<core::chemical::rna::GaussianParameter, std::allocator<core::chemical::rna::GaussianParameter> >::index
-function utility::vector1<core::chemical::rna::GaussianParameter, std::allocator<core::chemical::rna::GaussianParameter> >::has_value

-function utility::vector1<core::scoring::fiber_diffraction::OneGaussianScattering, std::allocator<core::scoring::fiber_diffraction::OneGaussianScattering> >::index
-function utility::vector1<core::scoring::fiber_diffraction::OneGaussianScattering, std::allocator<core::scoring::fiber_diffraction::OneGaussianScattering> >::has_value

-function utility::vector1<numeric::histograms::TwoDHistogram<unsigned long, long>, std::allocator<numeric::histograms::TwoDHistogram<unsigned long, long> > >::index
-function utility::vector1<numeric::histograms::TwoDHistogram<unsigned long, long>, std::allocator<numeric::histograms::TwoDHistogram<unsigned long, long> > >::has_value

-function utility::vector1<core::scoring::packstat::Sphere, std::allocator<core::scoring::packstat::Sphere> >::index
-function utility::vector1<core::scoring::packstat::Sphere, std::allocator<core::scoring::packstat::Sphere> >::has_value

-function utility::vector1<core::chemical::rings::RingConformer, std::allocator<core::chemical::rings::RingConformer> >::index
-function utility::vector1<core::chemical::rings::RingConformer, std::allocator<core::chemical::rings::RingConformer> >::has_value

-function utility::vector1<core::pack::dunbrack::DunbrackRotamerSampleData, std::allocator<core::pack::dunbrack::DunbrackRotamerSampleData> >::index
-function utility::vector1<core::pack::dunbrack::DunbrackRotamerSampleData, std::allocator<core::pack::dunbrack::DunbrackRotamerSampleData> >::has_value

-function utility::vector1<core::pack::dunbrack::cenrot::CentroidRotamerSampleData,std::allocator<core::pack::dunbrack::cenrot::CentroidRotamerSampleData>>::index
-function utility::vector1<core::pack::dunbrack::cenrot::CentroidRotamerSampleData,std::allocator<core::pack::dunbrack::cenrot::CentroidRotamerSampleData>>::has_value


-class std::list<std::pair<double, core::pose::rna::BaseStack>,std::allocator<std::pair<double, core::pose::rna::BaseStack> >>


# no default constructors - now handled at std_binders level
#-class std::vector<core::scoring::rna::data::RNA_Datum,std::allocator<core::scoring::rna::data::RNA_Datum>>
#-class std::vector<core::scoring::rna::data::RNA_Reactivity,std::allocator<core::scoring::rna::data::RNA_Reactivity>>
#-class std::vector<core::scoring::SmallAtNb,std::allocator<core::scoring::SmallAtNb>>

#note: in instantiation of function template specialization 'pybind11::class_<utility::vector1<core::chemical::rna::GaussianParameter, std::allocator<core::chemical::rna::GaussianParameter> >, std::unique_ ...  cl.def(pybind11::init<const unsigned long>());
-class utility::vector1<core::chemical::rna::GaussianParameter,std::allocator<core::chemical::rna::GaussianParameter>>
-class utility::vector1<core::scoring::packstat::Sphere,std::allocator<core::scoring::packstat::Sphere>>
-class utility::vector1<core::scoring::packstat::CavityBall,std::allocator<core::scoring::packstat::CavityBall>>

# no match for ‘operator==’ (operand types are ‘const core::io::AtomInformation’ and ‘const core::io::AtomInformation’)
-class utility::vectorL<1,core::io::AtomInformation,std::allocator<core::io::AtomInformation>>
-class utility::vectorL<0,utility::vector0<core::io::AtomInformation, std::allocator<core::io::AtomInformation> >,std::allocator<utility::vector0<core::io::AtomInformation, std::allocator<core::io::AtomInformation> > >>

# no match for ‘operator==’ (operand types are ‘const core::pose::UnrecognizedAtomRecord’ and ‘const core::pose::UnrecognizedAtomRecord’)
-class utility::vectorL<1,core::pose::UnrecognizedAtomRecord,std::allocator<core::pose::UnrecognizedAtomRecord>>

# no match for ‘operator==’ (operand types are ‘const numeric::urs_Quat’ and ‘const numeric::urs_Quat’)
-class utility::vectorL<1,numeric::urs_Quat,std::allocator<numeric::urs_Quat>>
-class utility::vector1<numeric::urs_Quat,std::allocator<numeric::urs_Quat>>

# no match for ‘operator==’ (operand types are ‘const numeric::RocPoint’ and ‘const numeric::RocPoint’)
-class utility::vectorL<1,numeric::RocPoint,std::allocator<numeric::RocPoint>>
-class utility::vector1<numeric::RocPoint,std::allocator<numeric::RocPoint>>

# no match for ‘operator==’ (operand types are ‘const numeric::geometry::hashing::Ball’ and ‘const numeric::geometry::hashing::Ball’)
-class utility::vectorL<1,numeric::geometry::hashing::Ball,std::allocator<numeric::geometry::hashing::Ball>>
-class utility::vector1<numeric::geometry::hashing::Ball,std::allocator<numeric::geometry::hashing::Ball>>

# no match for ‘operator==’ (operand types are ‘const numeric::interpolation::spline::Point’ and ‘const numeric::interpolation::spline::Point’)
-class utility::vectorL<1,numeric::interpolation::spline::Point,std::allocator<numeric::interpolation::spline::Point>>
-class utility::vector1<numeric::interpolation::spline::Point,std::allocator<numeric::interpolation::spline::Point>>

# no match for ‘operator==’ (operand types are ‘const numeric::interpolation::spline::interp_range’ and ‘const numeric::interpolation::spline::interp_range’)
-class utility::vectorL<1,numeric::interpolation::spline::interp_range,std::allocator<numeric::interpolation::spline::interp_range>>
-class utility::vector1<numeric::interpolation::spline::interp_range,std::allocator<numeric::interpolation::spline::interp_range>>

# no match for ‘operator==’ (operand types are ‘const numeric::MathNTensor<double>’ and ‘const numeric::MathNTensor<double>’)
-class utility::vectorL<1,numeric::MathNTensor<double>,std::allocator<numeric::MathNTensor<double> >>
-class utility::vector1<numeric::MathNTensor<double>,std::allocator<numeric::MathNTensor<double> >>

# no default constructor, could be re-enabled when '-member' is implemented
# no matching function for call to ‘basic::database::schema_generator::Column::Column()’
-class utility::vectorL<1,basic::database::schema_generator::Column,std::allocator<basic::database::schema_generator::Column>>
-class utility::vector1<basic::database::schema_generator::Column,std::allocator<basic::database::schema_generator::Column>>

# no match for ‘operator==’ (operand types are ‘const basic::database::schema_generator::ForeignKey’ and ‘const basic::database::schema_generator::ForeignKey’)
-class utility::vectorL<1,basic::database::schema_generator::ForeignKey,std::allocator<basic::database::schema_generator::ForeignKey>>
-class utility::vector1<basic::database::schema_generator::ForeignKey,std::allocator<basic::database::schema_generator::ForeignKey>>

# no match for ‘operator==’ (operand types are ‘const basic::database::schema_generator::Index’ and ‘const basic::database::schema_generator::Index’)
-class utility::vectorL<1,basic::database::schema_generator::Index,std::allocator<basic::database::schema_generator::Index>>
-class utility::vector1<basic::database::schema_generator::Index,std::allocator<basic::database::schema_generator::Index>>

# no match for ‘operator==’ (operand types are ‘const basic::sampling::orientations::QuatDBMetadata’ and ‘const basic::sampling::orientations::QuatDBMetadata’)
-class utility::vectorL<1,basic::sampling::orientations::QuatDBMetadata,std::allocator<basic::sampling::orientations::QuatDBMetadata>>
-class utility::vector1<basic::sampling::orientations::QuatDBMetadata,std::allocator<basic::sampling::orientations::QuatDBMetadata>>

# ‘utility::io::mpi_stream::basic_mpi_ostreambase<char, std::char_traits<char>, std::allocator<char>, unsigned char, std::allocator<unsigned char> >::mpi_streambuf_type’ has no member named ‘release_file’
-class utility::io::mpi_stream::basic_mpi_ostreambase<char,std::char_traits<char>,std::allocator<char>,unsigned char,std::allocator<unsigned char>>


# no match for ‘operator*’ (operand types are ‘numeric::MathMatrix<double>’ and ‘numeric::MathMatrix<double>’)
#-function numeric::MathMatrix::inverse_rectangular_matrix
-class numeric::MathMatrix

-function boost::declval<numeric::geometry::hashing::bin_index_hasher &>
-function boost::declval


# JSON Spirit ambiguity error: ambiguous conversion for C-style cast from 'value_conv'
#-class utility::json_spirit::Value_impl<utility::json_spirit::Config_vector<std::basic_string<char> >>
#-class utility::json_spirit::Value_impl<struct utility::json_spirit::Config_map<class std::basic_string<char> >>
# -namespace utility::json_spirit
# -function utility::json_spirit::has_value
# -function utility::json_spirit::get_value
# -function utility::json_spirit::get_mObject
# -function utility::json_spirit::get_mArray
# -function utility::json_spirit::get_int
# -function utility::json_spirit::read_mObject
# -function utility::json_spirit::read_mArray
# -function utility::json_spirit::get_string
# -function utility::json_spirit::get_string_or_empty
# -function utility::json_spirit::get_real


# unresolve includes:
-function boost::get_property_value

-class boost::detail::edge_desc_impl<boost::undirected_tag,void *>


# might be fixed by removing only some member functions
-class numeric::histograms::TwoDHistogram<unsigned long,long>

-function core::id::swap
