# Binder config for Rosetta

-namespace ObjexxFCL
+namespace utility
+namespace numeric
+namespace basic
+namespace core

-namespace utility::keys
-namespace utility::pointer

-namespace utility::options
#-namespace basic::options

# fix me later: other classes member functions take these as arguments
#-class utility::options::OptionKeys
#-class utility::options::OptionCollection

# Skipping undefinded template specializations
#-function utility::swap
#-function utility::keys::swap


# Skipping inline friend functions definition beacuse they reported as 'undefined symbol' by linker (GCC bug?)
#-function numeric::update_operation
#-function numeric::update_5way_operation
#-function numeric::subtract
#-function numeric::angle_of

# temporary until pybind11 bug of bindging template classes by-value resolved
#-function core::conformation::Conformation::fill_missing_atoms

# ???
-class std::vector<std::pair<unsigned long, unsigned long>,std::allocator<std::pair<unsigned long, unsigned long> >>


# ‘swap4DB’ was not declared in this scope, and no declarations were found by argument-dependent lookup at the point of instantiation [-fpermissive]
-class ObjexxFCL::FArray4D<int>

# no match for ‘operator*’ (operand types are ‘const ObjexxFCL::FArray1D<int>’ and ‘const ObjexxFCL::FArray1D<int>’)
-class ObjexxFCL::FArray1<ObjexxFCL::FArray1D<int>>

# no match for ‘operator!=’ (operand types are ‘core::pack::dunbrack::BBIndNRChiSample<>’ and ‘ObjexxFCL::FArrayTraits<core::pack::dunbrack::BBIndNRChiSample<> >::traits_type {aka core::pack::dunbrack::BBIndNRChiSample<>}’)
-class ObjexxFCL::FArray<core::pack::dunbrack::BBIndNRChiSample<float>>

# no match for ‘operator!=’ (operand types are ‘core::pack::dunbrack::BBDepNRChiSample<>’ and ‘ObjexxFCL::FArrayTraits<core::pack::dunbrack::BBDepNRChiSample<> >::traits_type {aka core::pack::dunbrack::BBDepNRChiSample<>}’)
-class ObjexxFCL::FArray<core::pack::dunbrack::BBDepNRChiSample<float>>

# no match for ‘operator==’ (operand types are ‘const core::pack::dunbrack::cenrot::CentroidRotamerSampleData’ and ‘const core::pack::dunbrack::cenrot::CentroidRotamerSampleData’)
-class ObjexxFCL::FArray<utility::vector1<core::pack::dunbrack::cenrot::CentroidRotamerSampleData, std::allocator<core::pack::dunbrack::cenrot::CentroidRotamerSampleData> >>


# no match for ‘operator==’ (operand types are ‘const core::io::AtomInformation’ and ‘const core::io::AtomInformation’)
-class utility::vectorL<1,core::io::AtomInformation,std::allocator<core::io::AtomInformation>>
-class utility::vectorL<0,utility::vector0<core::io::AtomInformation, std::allocator<core::io::AtomInformation> >,std::allocator<utility::vector0<core::io::AtomInformation, std::allocator<core::io::AtomInformation> > >>

# no match for ‘operator==’ (operand types are ‘const core::pose::UnrecognizedAtomRecord’ and ‘const core::pose::UnrecognizedAtomRecord’)
-class utility::vectorL<1,core::pose::UnrecognizedAtomRecord,std::allocator<core::pose::UnrecognizedAtomRecord>>

# no match for ‘operator==’ (operand types are ‘const numeric::urs_Quat’ and ‘const numeric::urs_Quat’)
-class utility::vectorL<1,numeric::urs_Quat,std::allocator<numeric::urs_Quat>>
-class utility::vector1<numeric::urs_Quat,std::allocator<numeric::urs_Quat>>

# no match for ‘operator==’ (operand types are ‘const numeric::RocPoint’ and ‘const numeric::RocPoint’)
-class utility::vectorL<1,numeric::RocPoint,std::allocator<numeric::RocPoint>>
-class utility::vector1<numeric::RocPoint,std::allocator<numeric::RocPoint>>

# no match for ‘operator==’ (operand types are ‘const numeric::geometry::hashing::Ball’ and ‘const numeric::geometry::hashing::Ball’)
-class utility::vectorL<1,numeric::geometry::hashing::Ball,std::allocator<numeric::geometry::hashing::Ball>>
-class utility::vector1<numeric::geometry::hashing::Ball,std::allocator<numeric::geometry::hashing::Ball>>

# no match for ‘operator==’ (operand types are ‘const numeric::interpolation::spline::Point’ and ‘const numeric::interpolation::spline::Point’)
-class utility::vectorL<1,numeric::interpolation::spline::Point,std::allocator<numeric::interpolation::spline::Point>>
-class utility::vector1<numeric::interpolation::spline::Point,std::allocator<numeric::interpolation::spline::Point>>

# no match for ‘operator==’ (operand types are ‘const numeric::interpolation::spline::interp_range’ and ‘const numeric::interpolation::spline::interp_range’)
-class utility::vectorL<1,numeric::interpolation::spline::interp_range,std::allocator<numeric::interpolation::spline::interp_range>>
-class utility::vector1<numeric::interpolation::spline::interp_range,std::allocator<numeric::interpolation::spline::interp_range>>

# no match for ‘operator==’ (operand types are ‘const numeric::MathNTensor<double>’ and ‘const numeric::MathNTensor<double>’)
-class utility::vectorL<1,numeric::MathNTensor<double>,std::allocator<numeric::MathNTensor<double> >>
-class utility::vector1<numeric::MathNTensor<double>,std::allocator<numeric::MathNTensor<double> >>

# no default constructor, could be re-enabled when '-member' is implemented
# no matching function for call to ‘basic::database::schema_generator::Column::Column()’
-class utility::vectorL<1,basic::database::schema_generator::Column,std::allocator<basic::database::schema_generator::Column>>
-class utility::vector1<basic::database::schema_generator::Column,std::allocator<basic::database::schema_generator::Column>>

# no match for ‘operator==’ (operand types are ‘const basic::database::schema_generator::ForeignKey’ and ‘const basic::database::schema_generator::ForeignKey’)
-class utility::vectorL<1,basic::database::schema_generator::ForeignKey,std::allocator<basic::database::schema_generator::ForeignKey>>
-class utility::vector1<basic::database::schema_generator::ForeignKey,std::allocator<basic::database::schema_generator::ForeignKey>>

# no match for ‘operator==’ (operand types are ‘const basic::database::schema_generator::Index’ and ‘const basic::database::schema_generator::Index’)
-class utility::vectorL<1,basic::database::schema_generator::Index,std::allocator<basic::database::schema_generator::Index>>
-class utility::vector1<basic::database::schema_generator::Index,std::allocator<basic::database::schema_generator::Index>>

# no match for ‘operator==’ (operand types are ‘const basic::sampling::orientations::QuatDBMetadata’ and ‘const basic::sampling::orientations::QuatDBMetadata’)
-class utility::vectorL<1,basic::sampling::orientations::QuatDBMetadata,std::allocator<basic::sampling::orientations::QuatDBMetadata>>
-class utility::vector1<basic::sampling::orientations::QuatDBMetadata,std::allocator<basic::sampling::orientations::QuatDBMetadata>>

# ‘utility::io::mpi_stream::basic_mpi_ostreambase<char, std::char_traits<char>, std::allocator<char>, unsigned char, std::allocator<unsigned char> >::mpi_streambuf_type’ has no member named ‘release_file’
-class utility::io::mpi_stream::basic_mpi_ostreambase<char,std::char_traits<char>,std::allocator<char>,unsigned char,std::allocator<unsigned char>>


# no match for ‘operator*’ (operand types are ‘numeric::MathMatrix<double>’ and ‘numeric::MathMatrix<double>’)
#-function numeric::MathMatrix::inverse_rectangular_matrix
-class numeric::MathMatrix
