# Binder add-on GCC config for Rosetta

-function numeric::angle_of

# -function core::scoring::bin_transitions::BinTransitionData::trim_subbin_edges_and_rescale_subbin
# -function core::scoring::dna::get_sugar_pucker
# -function core::scoring::dna::get_base_pucker


# -function protocols::frag_picker::ContactCounts::iterate
# -function protocols::frag_picker::ContactCounts::iterate_neighbor
# -function protocols::frag_picker::ContactCounts::neighbor_counts
# -function protocols::frag_picker::ContactCounts::neighbor_counts_exist

# -function protocols::loophash::BackboneDB::read_db

# # skipping base class function to avoid creation of relevant member in PyCallBack
-function protocols::simple_moves::PackRotamersMover::run
# -function protocols::dna::DnaInterfaceMultiStateDesign::run
# -function protocols::protein_interface_design::movers::ProteinInterfaceMultiStateDesignMover::run

-class protocols::topology_broker::EXCN_FilterFailed

-function core::scoring::elec::RNA_FA_ElecEnergy::score_atom_pair

-function core::fragment::FragID_Iterator::operator++
-function core::fragment::FragID_Iterator::operator+
-function core::fragment::FragID_Iterator::operator=

# temporary until we upgrade GCC version
-class nlohmann::json
-class protocols::antibody::grafting::Json_based_CDR_Detector
-class protocols::ddg::CartesianddG::MutationSet
