LocalCoordinateConstraint  CA  1  N    CA   C   20 -13.8597 11.2531 14.216 BOUNDED       0 12.8239   1                CM_DECOYS 
LocalCoordinateConstraint  CA  2  N    CA   C   20 -10.62 9.917 13.77 BOUNDED       0  9.8308   1                CM_DECOYS 
LocalCoordinateConstraint  CA  3  N    CA   C   20 -9.71 6.616 13.25 BOUNDED       0 4.79716   1                CM_DECOYS 
LocalCoordinateConstraint  CA  4  N    CA   C   20 -7.008 4.335 13.73 BOUNDED       0 5.21045   1                CM_DECOYS 
LocalCoordinateConstraint  CA  5  N    CA   C   20 -3.879 4.775 12.07 BOUNDED       0 3.41065   1                CM_DECOYS 
LocalCoordinateConstraint  CA  6  N    CA   C   20 -3.09 1.903 10.06 BOUNDED       0 2.99226   1                CM_DECOYS 
LocalCoordinateConstraint  CA  7  N    CA   C   20 0.1763 1.021 9.178 BOUNDED       0 6.07752   1                CM_DECOYS 
LocalCoordinateConstraint  CA  8  N    CA   C   20 1.747 0.431 11.38 BOUNDED       0 4.23801   1                CM_DECOYS 
LocalCoordinateConstraint  CA  9  N    CA   C   20 4.438 -1.02 13 BOUNDED       0 5.93733   1                CM_DECOYS 
LocalCoordinateConstraint  CA  10  N    CA   C   20 2.571 -0.8836 16.05 BOUNDED       0 6.35312   1                CM_DECOYS 
LocalCoordinateConstraint  CA  11  N    CA   C   20 0.254 -2.999 14.58 BOUNDED       0 6.40207   1                CM_DECOYS 
LocalCoordinateConstraint  CA  12  N    CA   C   20 2.669 -5.33 13.39 BOUNDED       0  5.6902   1                CM_DECOYS 
LocalCoordinateConstraint  CA  13  N    CA   C   20 2.599 -4.493 9.761 BOUNDED       0 5.22298   1                CM_DECOYS 
LocalCoordinateConstraint  CA  14  N    CA   C   20 5.372 -5.221 7.495 BOUNDED       0 3.17243   1                CM_DECOYS 
LocalCoordinateConstraint  CA  15  N    CA   C   20 6.584 -4.314 4.103 BOUNDED       0  4.1102   1                CM_DECOYS 
LocalCoordinateConstraint  CA  16  N    CA   C   20 7.211 -7.042 1.733 BOUNDED       0 3.35925   1                CM_DECOYS 
LocalCoordinateConstraint  CA  17  N    CA   C   20 8.05 -7.742 -1.876 BOUNDED       0 3.20631   1                CM_DECOYS 
LocalCoordinateConstraint  CA  18  N    CA   C   20 9.623 -4.343 -2.356 BOUNDED       0 1.73744   1                CM_DECOYS 
LocalCoordinateConstraint  CA  19  N    CA   C   20 11.49 -3.827 -5.553 BOUNDED       0 2.98634   1                CM_DECOYS 
LocalCoordinateConstraint  CA  20  N    CA   C   20 14.2 -2.032 -3.654 BOUNDED       0 2.99385   1                CM_DECOYS 
LocalCoordinateConstraint  CA  21  N    CA   C   20 15.72 -2.555 -0.2666 BOUNDED       0 3.01396   1                CM_DECOYS 
LocalCoordinateConstraint  CA  22  N    CA   C   20 18.4 -0.05134 0.7791 BOUNDED       0 4.05293   1                CM_DECOYS 
LocalCoordinateConstraint  CA  23  N    CA   C   20 20.33 -1.034 3.87 BOUNDED       0 3.85928   1                CM_DECOYS 
LocalCoordinateConstraint  CA  24  N    CA   C   20 20.15 2.372 5.277 BOUNDED       0 3.92098   1                CM_DECOYS 
LocalCoordinateConstraint  CA  25  N    CA   C   20 16.67 2.895 4.069 BOUNDED       0 3.63464   1                CM_DECOYS 
LocalCoordinateConstraint  CA  26  N    CA   C   20 14.8 -0.3916 4.299 BOUNDED       0 3.19307   1                CM_DECOYS 
LocalCoordinateConstraint  CA  27  N    CA   C   20 11.26 -0.7136 3.285 BOUNDED       0 3.32826   1                CM_DECOYS 
LocalCoordinateConstraint  CA  28  N    CA   C   20 10.38 -1.081 6.889 BOUNDED       0 3.21119   1                CM_DECOYS 
LocalCoordinateConstraint  CA  29  N    CA   C   20 10.95 2.644 7.328 BOUNDED       0 3.42553   1                CM_DECOYS 
LocalCoordinateConstraint  CA  30  N    CA   C   20 7.815 3.269 5.456 BOUNDED       0 3.11238   1                CM_DECOYS 
LocalCoordinateConstraint  CA  31  N    CA   C   20 5.636 2.282 8.055 BOUNDED       0 3.42174   1                CM_DECOYS 
LocalCoordinateConstraint  CA  32  N    CA   C   20 7.782 2.755 11.15 BOUNDED       0 4.30111   1                CM_DECOYS 
LocalCoordinateConstraint  CA  33  N    CA   C   20 6.042 5.905 11.89 BOUNDED       0 4.70016   1                CM_DECOYS 
LocalCoordinateConstraint  CA  34  N    CA   C   20 9.13 7.999 11.75 BOUNDED       0 4.42996   1                CM_DECOYS 
LocalCoordinateConstraint  CA  35  N    CA   C   20 8.853 11.02 9.686 BOUNDED       0 4.51623   1                CM_DECOYS 
LocalCoordinateConstraint  CA  36  N    CA   C   20 12.47 11.27 9.85 BOUNDED       0 4.52232   1                CM_DECOYS 
LocalCoordinateConstraint  CA  37  N    CA   C   20 13 7.969 8.081 BOUNDED       0 3.72235   1                CM_DECOYS 
LocalCoordinateConstraint  CA  38  N    CA   C   20 11.98 6.923 4.659 BOUNDED       0 2.95726   1                CM_DECOYS 
LocalCoordinateConstraint  CA  39  N    CA   C   20 12.34 4.315 2.008 BOUNDED       0 2.62122   1                CM_DECOYS 
LocalCoordinateConstraint  CA  40  N    CA   C   20 14.46 4.871 -0.9756 BOUNDED       0 2.63106   1                CM_DECOYS 
LocalCoordinateConstraint  CA  41  N    CA   C   20 14.71 3.21 -4.27 BOUNDED       0 2.68332   1                CM_DECOYS 
LocalCoordinateConstraint  CA  42  N    CA   C   20 17.88 1.846 -5.6 BOUNDED       0 2.89316   1                CM_DECOYS 
LocalCoordinateConstraint  CA  43  N    CA   C   20 16.7 0.7555 -8.969 BOUNDED       0 2.66975   1                CM_DECOYS 
LocalCoordinateConstraint  CA  44  N    CA   C   20 14.88 2.442 -11.83 BOUNDED       0 2.76431   1                CM_DECOYS 
LocalCoordinateConstraint  CA  45  N    CA   C   20 11.25 3.073 -12.31 BOUNDED       0 2.03788   1                CM_DECOYS 
LocalCoordinateConstraint  CA  46  N    CA   C   20 8.885 1.735 -12.42 BOUNDED       0 1.67786   1                CM_DECOYS 
LocalCoordinateConstraint  CA  47  N    CA   C   20 9.011 0.4994 -8.819 BOUNDED       0 1.29819   1                CM_DECOYS 
LocalCoordinateConstraint  CA  48  N    CA   C   20 6.596 -1.283 -6.542 BOUNDED       0 1.22256   1                CM_DECOYS 
LocalCoordinateConstraint  CA  49  N    CA   C   20 6.108 -2.305 -3.012 BOUNDED       0  1.1373   1                CM_DECOYS 
LocalCoordinateConstraint  CA  50  N    CA   C   20 3.561 -4.247 -1.021 BOUNDED       0 0.929951   1                CM_DECOYS 
LocalCoordinateConstraint  CA  51  N    CA   C   20 2.405 -3.439 2.51 BOUNDED       0 1.01352   1                CM_DECOYS 
LocalCoordinateConstraint  CA  52  N    CA   C   20 1.035 -6.362 4.489 BOUNDED       0 1.30347   1                CM_DECOYS 
LocalCoordinateConstraint  CA  53  N    CA   C   20 -1.284 -5.816 7.372 BOUNDED       0 1.33146   1                CM_DECOYS 
LocalCoordinateConstraint  CA  54  N    CA   C   20 -1.308 -9.362 8.546 BOUNDED       0 2.18561   1                CM_DECOYS 
LocalCoordinateConstraint  CA  55  N    CA   C   20 -4.948 -8.638 9.319 BOUNDED       0  1.4278   1                CM_DECOYS 
LocalCoordinateConstraint  CA  56  N    CA   C   20 -8.253 -7.572 7.894 BOUNDED       0 0.979714   1                CM_DECOYS 
LocalCoordinateConstraint  CA  57  N    CA   C   20 -8.609 -3.802 8.077 BOUNDED       0 1.04115   1                CM_DECOYS 
LocalCoordinateConstraint  CA  58  N    CA   C   20 -11.12 -1.304 6.707 BOUNDED       0 1.34619   1                CM_DECOYS 
LocalCoordinateConstraint  CA  59  N    CA   C   20 -9.595 1.743 5.135 BOUNDED       0 1.28256   1                CM_DECOYS 
LocalCoordinateConstraint  CA  60  N    CA   C   20 -11.29 5.081 4.843 BOUNDED       0 1.62448   1                CM_DECOYS 
LocalCoordinateConstraint  CA  61  N    CA   C   20 -8.516 7.15 3.565 BOUNDED       0 1.55563   1                CM_DECOYS 
LocalCoordinateConstraint  CA  62  N    CA   C   20 -4.948 6.698 2.442 BOUNDED       0 1.58259   1                CM_DECOYS 
LocalCoordinateConstraint  CA  63  N    CA   C   20 -2.192 9.28 2.786 BOUNDED       0 2.22827   1                CM_DECOYS 
LocalCoordinateConstraint  CA  64  N    CA   C   20 0.91 9.013 0.6355 BOUNDED       0 1.78051   1                CM_DECOYS 
LocalCoordinateConstraint  CA  65  N    CA   C   20 3.911 11.2 0.9433 BOUNDED       0 2.20071   1                CM_DECOYS 
LocalCoordinateConstraint  CA  66  N    CA   C   20 6.686 11.14 -1.553 BOUNDED       0 3.67529   1                CM_DECOYS 
LocalCoordinateConstraint  CA  67  N    CA   C   20 9.429 13.28 -2.912 BOUNDED       0  5.2903   1                CM_DECOYS 
LocalCoordinateConstraint  CA  68  N    CA   C   20 9.792 13.21 -6.944 BOUNDED       0 5.31207   1                CM_DECOYS 
LocalCoordinateConstraint  CA  69  N    CA   C   20 7.145 11.31 -8.292 BOUNDED       0 4.73307   1                CM_DECOYS 
LocalCoordinateConstraint  CA  70  N    CA   C   20 5.26 11.9 -11.31 BOUNDED       0 3.77183   1                CM_DECOYS 
LocalCoordinateConstraint  CA  71  N    CA   C   20 2.625 9.441 -11.31 BOUNDED       0 5.45179   1                CM_DECOYS 
LocalCoordinateConstraint  CA  72  N    CA   C   20 0.6117 6.669 -8.214 BOUNDED       0 1.69379   1                CM_DECOYS 
LocalCoordinateConstraint  CA  73  N    CA   C   20 -1.396 3.505 -8.673 BOUNDED       0 1.18399   1                CM_DECOYS 
LocalCoordinateConstraint  CA  74  N    CA   C   20 -2.721 1.546 -5.709 BOUNDED       0 1.08629   1                CM_DECOYS 
LocalCoordinateConstraint  CA  75  N    CA   C   20 -4.125 -1.935 -5.79 BOUNDED       0 0.891533   1                CM_DECOYS 
LocalCoordinateConstraint  CA  76  N    CA   C   20 -5.808 -3.845 -2.967 BOUNDED       0  1.0053   1                CM_DECOYS 
LocalCoordinateConstraint  CA  77  N    CA   C   20 -6.172 -7.453 -2.019 BOUNDED       0 0.873359   1                CM_DECOYS 
LocalCoordinateConstraint  CA  78  N    CA   C   20 -8.149 -9.19 0.7088 BOUNDED       0 1.34004   1                CM_DECOYS 
LocalCoordinateConstraint  CA  79  N    CA   C   20 -6.496 -12.58 0.1403 BOUNDED       0 1.68109   1                CM_DECOYS 
LocalCoordinateConstraint  CA  80  N    CA   C   20 -4.403 -14.43 2.627 BOUNDED       0 2.53635   1                CM_DECOYS 
LocalCoordinateConstraint  CA  81  N    CA   C   20 -1.438 -13.94 0.3085 BOUNDED       0 1.52167   1                CM_DECOYS 
LocalCoordinateConstraint  CA  82  N    CA   C   20 0.02068 -10.89 -1.377 BOUNDED       0 2.05928   1                CM_DECOYS 
LocalCoordinateConstraint  CA  83  N    CA   C   20 -1.553 -11.88 -4.684 BOUNDED       0 1.74977   1                CM_DECOYS 
LocalCoordinateConstraint  CA  84  N    CA   C   20 -4.45 -11.05 -6.988 BOUNDED       0 1.89485   1                CM_DECOYS 
LocalCoordinateConstraint  CA  85  N    CA   C   20 -4.439 -7.292 -6.532 BOUNDED       0 1.80341   1                CM_DECOYS 
LocalCoordinateConstraint  CA  86  N    CA   C   20 -7.279 -5.187 -7.924 BOUNDED       0 1.54245   1                CM_DECOYS 
LocalCoordinateConstraint  CA  87  N    CA   C   20 -6.922 -1.579 -8.96 BOUNDED       0  1.3667   1                CM_DECOYS 
LocalCoordinateConstraint  CA  88  N    CA   C   20 -8.452 0.5954 -6.365 BOUNDED       0 1.45468   1                CM_DECOYS 
LocalCoordinateConstraint  CA  89  N    CA   C   20 -7.196 4.023 -6.728 BOUNDED       0 2.06721   1                CM_DECOYS 
LocalCoordinateConstraint  CA  90  N    CA   C   20 -5.174 5.959 -9.364 BOUNDED       0 2.09658   1                CM_DECOYS 
LocalCoordinateConstraint  CA  91  N    CA   C   20 -3.964 9.469 -8.809 BOUNDED       0 2.55092   1                CM_DECOYS 
LocalCoordinateConstraint  CA  92  N    CA   C   20 -1.35 11.64 -10.35 BOUNDED       0  3.2438   1                CM_DECOYS 
LocalCoordinateConstraint  CA  93  N    CA   C   20 0.9609 13.19 -8.015 BOUNDED       0 3.43814   1                CM_DECOYS 
LocalCoordinateConstraint  CA  94  N    CA   C   20 2.588 16.4 -8.474 BOUNDED       0 4.65343   1                CM_DECOYS 
LocalCoordinateConstraint  CA  95  N    CA   C   20 5.879 17.11 -8.155 BOUNDED       0  5.7727   1                CM_DECOYS 
LocalCoordinateConstraint  CA  96  N    CA   C   20 6.91 19.6 -6.074 BOUNDED       0  6.6216   1                CM_DECOYS 
LocalCoordinateConstraint  CA  97  N    CA   C   20 10.23 20.62 -6.157 BOUNDED       0 8.89552   1                CM_DECOYS 
LocalCoordinateConstraint  CA  98  N    CA   C   20 11.94 20.5 -2.983 BOUNDED       0  9.4427   1                CM_DECOYS 
LocalCoordinateConstraint  CA  99  N    CA   C   20 9.075 19.33 -1.382 BOUNDED       0  8.0824   1                CM_DECOYS 
LocalCoordinateConstraint  CA  100  N    CA   C   20 7.217 16.08 -0.124 BOUNDED       0 8.08144   1                CM_DECOYS 
LocalCoordinateConstraint  CA  101  N    CA   C   20 4.084 15.57 -2.134 BOUNDED       0 4.74119   1                CM_DECOYS 
LocalCoordinateConstraint  CA  102  N    CA   C   20 1.267 14.88 0.161 BOUNDED       0  3.5749   1                CM_DECOYS 
LocalCoordinateConstraint  CA  103  N    CA   C   20 -1.704 13.54 -1.406 BOUNDED       0 2.33241   1                CM_DECOYS 
LocalCoordinateConstraint  CA  104  N    CA   C   20 -4.772 12.46 0.4069 BOUNDED       0 2.56505   1                CM_DECOYS 
LocalCoordinateConstraint  CA  105  N    CA   C   20 -6.582 9.705 -1.446 BOUNDED       0 2.19879   1                CM_DECOYS 
LocalCoordinateConstraint  CA  106  N    CA   C   20 -10 8.562 -0.641 BOUNDED       0 1.83966   1                CM_DECOYS 
LocalCoordinateConstraint  CA  107  N    CA   C   20 -10.05 4.879 -0.2307 BOUNDED       0  2.4939   1                CM_DECOYS 
LocalCoordinateConstraint  CA  108  N    CA   C   20 -12.91 2.78 0.746 BOUNDED       0 2.37798   1                CM_DECOYS 
LocalCoordinateConstraint  CA  109  N    CA   C   20 -13.17 -0.7975 1.501 BOUNDED       0  1.7128   1                CM_DECOYS 
LocalCoordinateConstraint  CA  110  N    CA   C   20 -11.33 -3.456 3.444 BOUNDED       0 1.33993   1                CM_DECOYS 
LocalCoordinateConstraint  CA  111  N    CA   C   20 -7.908 -4.904 2.727 BOUNDED       0 0.776986   1                CM_DECOYS 
LocalCoordinateConstraint  CA  112  N    CA   C   20 -5.203 -7.245 3.936 BOUNDED       0 0.90629   1                CM_DECOYS 
LocalCoordinateConstraint  CA  113  N    CA   C   20 -2.53 -6.288 1.428 BOUNDED       0 0.96356   1                CM_DECOYS 
LocalCoordinateConstraint  CA  114  N    CA   C   20 -1.837 -3 -0.318 BOUNDED       0 0.83775   1                CM_DECOYS 
LocalCoordinateConstraint  CA  115  N    CA   C   20 0.2082 -2.849 -3.532 BOUNDED       0 0.78652   1                CM_DECOYS 
LocalCoordinateConstraint  CA  116  N    CA   C   20 1.768 0.5104 -4.303 BOUNDED       0 0.906822   1                CM_DECOYS 
LocalCoordinateConstraint  CA  117  N    CA   C   20 2.969 1.187 -7.782 BOUNDED       0 1.00776   1                CM_DECOYS 
LocalCoordinateConstraint  CA  118  N    CA   C   20 5.124 4.159 -8.688 BOUNDED       0 1.32676   1                CM_DECOYS 
LocalCoordinateConstraint  CA  119  N    CA   C   20 5.031 4.865 -12.37 BOUNDED       0  2.1616   1                CM_DECOYS 
LocalCoordinateConstraint  CA  120  N    CA   C   20 7.605 7.452 -12.9 BOUNDED       0 3.13856   1                CM_DECOYS 
LocalCoordinateConstraint  CA  121  N    CA   C   20 9.618 9.738 -11.16 BOUNDED       0  5.6368   1                CM_DECOYS 
LocalCoordinateConstraint  CA  122  N    CA   C   20 11.83 12.47 -11.47 BOUNDED       0 6.34759   1                CM_DECOYS 
LocalCoordinateConstraint  CA  123  N    CA   C   20 15.28 11.56 -11.75 BOUNDED       0  7.8065   1                CM_DECOYS 
LocalCoordinateConstraint  CA  124  N    CA   C   20 17.83 8.923 -11.06 BOUNDED       0 8.12171   1                CM_DECOYS 
LocalCoordinateConstraint  CA  125  N    CA   C   20 16.64 9.082 -8.054 BOUNDED       0 6.81907   1                CM_DECOYS 
LocalCoordinateConstraint  CA  126  N    CA   C   20 14.9 8.326 -5.384 BOUNDED       0 6.14145   1                CM_DECOYS 
LocalCoordinateConstraint  CA  127  N    CA   C   20 12.74 8.552 -3.333 BOUNDED       0 4.30347   1                CM_DECOYS 
LocalCoordinateConstraint  CA  128  N    CA   C   20 10.63 8.641 -0.4829 BOUNDED       0 4.14854   1                CM_DECOYS 
LocalCoordinateConstraint  CA  129  N    CA   C   20 8.531 8.107 0.7772 BOUNDED       0 3.79303   1                CM_DECOYS 
LocalCoordinateConstraint  CA  130  N    CA   C   20 6.077 7.414 3.547 BOUNDED       0 2.98115   1                CM_DECOYS 
LocalCoordinateConstraint  CA  131  N    CA   C   20 2.638 5.881 3.727 BOUNDED       0 2.21716   1                CM_DECOYS 
LocalCoordinateConstraint  CA  132  N    CA   C   20 -0.1358 6.3 6.279 BOUNDED       0 2.14956   1                CM_DECOYS 
LocalCoordinateConstraint  CA  133  N    CA   C   20 -3.657 5.14 6.31 BOUNDED       0 2.04168   1                CM_DECOYS 
LocalCoordinateConstraint  CA  134  N    CA   C   20 -6.719 5.85 8.385 BOUNDED       0 2.20115   1                CM_DECOYS 
LocalCoordinateConstraint  CA  135  N    CA   C   20 -9.475 3.457 9.108 BOUNDED       0 1.74854   1                CM_DECOYS 
LocalCoordinateConstraint  CA  136  N    CA   C   20 -10.46 0.6737 11.53 BOUNDED       0 2.19435   1                CM_DECOYS 
LocalCoordinateConstraint  CA  137  N    CA   C   20 -9.459 -2.884 12.17 BOUNDED       0 2.48573   1                CM_DECOYS 
LocalCoordinateConstraint  CA  138  N    CA   C   20 -11.88 -5.524 11.32 BOUNDED       0  3.3385   1                CM_DECOYS 
LocalCoordinateConstraint  CA  139  N    CA   C   20 -10.31 -8.698 12.35 BOUNDED       0 4.92582   1                CM_DECOYS 
LocalCoordinateConstraint  CA  140  N    CA   C   20 -7.204 -9.865 13.6 BOUNDED       0 7.33006   1                CM_DECOYS 
LocalCoordinateConstraint  CA  141  N    CA   C   20 -5.76 -12 11.21 BOUNDED       0 7.60553   1                CM_DECOYS 
LocalCoordinateConstraint  CA  142  N    CA   C   20 -2.863 -12.82 12.52 BOUNDED       0 11.5013   1                CM_DECOYS 
LocalCoordinateConstraint  CA  143  N    CA   C   20 -3.6 -13.32 14.8 BOUNDED       0 12.6283   1                CM_DECOYS 
