AtomPair  CA     1  CA     9 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.8569 0.5 1
AtomPair  CA     1  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 14.7183 0.5 1
AtomPair  CA     1  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.5264 0.5 1
AtomPair  CA     1  CA    12 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 16.7902 0.5 1
AtomPair  CA     1  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 18.6668 0.5 1
AtomPair  CA     1  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 17.2213 0.5 1
AtomPair  CA     1  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 19.0581 0.5 1
AtomPair  CA     1  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 16.133 0.5 1
AtomPair  CA     1  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 15.3941 0.5 1
AtomPair  CA     1  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.3268 0.5 1
AtomPair  CA     1  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.4359 0.5 1
AtomPair  CA     1  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.981 0.5 1
AtomPair  CA     2  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.2784 0.5 1
AtomPair  CA     2  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.5904 0.5 1
AtomPair  CA     2  CA    12 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 14.4268 0.5 1
AtomPair  CA     2  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 16.5222 0.5 1
AtomPair  CA     2  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 14.7468 0.5 1
AtomPair  CA     2  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 16.0486 0.5 1
AtomPair  CA     2  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.8485 0.5 1
AtomPair  CA     2  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.0496 0.5 1
AtomPair  CA     2  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.24377 0.5 1
AtomPair  CA     2  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.04417 0.5 1
AtomPair  CA     2  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.17858 0.5 1
AtomPair  CA     3  CA    11 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.79277 0.5 1
AtomPair  CA     3  CA    12 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.679 0.5 1
AtomPair  CA     3  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 14.0638 0.5 1
AtomPair  CA     3  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.0597 0.5 1
AtomPair  CA     3  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 14.6189 0.5 1
AtomPair  CA     3  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.64 0.5 1
AtomPair  CA     3  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.4288 0.5 1
AtomPair  CA     3  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.16662 0.5 1
AtomPair  CA     3  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.35103 0.5 1
AtomPair  CA     3  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.56658 0.5 1
AtomPair  CA     4  CA    12 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.7428 0.5 1
AtomPair  CA     4  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 14.2829 0.5 1
AtomPair  CA     4  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.3067 0.5 1
AtomPair  CA     4  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 15.69 0.5 1
AtomPair  CA     4  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.3369 0.5 1
AtomPair  CA     4  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.9989 0.5 1
AtomPair  CA     4  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.2214 0.5 1
AtomPair  CA     4  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.93784 0.5 1
AtomPair  CA     4  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.3611 0.5 1
AtomPair  CA     5  CA    13 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.3601 0.5 1
AtomPair  CA     5  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.4496 0.5 1
AtomPair  CA     5  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.7169 0.5 1
AtomPair  CA     5  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.456 0.5 1
AtomPair  CA     5  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.0044 0.5 1
AtomPair  CA     5  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.0852 0.5 1
AtomPair  CA     5  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.69028 0.5 1
AtomPair  CA     5  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.852 0.5 1
AtomPair  CA     6  CA    14 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.54908 0.5 1
AtomPair  CA     6  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.5041 0.5 1
AtomPair  CA     6  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.08548 0.5 1
AtomPair  CA     6  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.42107 0.5 1
AtomPair  CA     6  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.77069 0.5 1
AtomPair  CA     6  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.48882 0.5 1
AtomPair  CA     6  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9811 0.5 1
AtomPair  CA     7  CA    15 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.6307 0.5 1
AtomPair  CA     7  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.0866 0.5 1
AtomPair  CA     7  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.319 0.5 1
AtomPair  CA     7  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.53116 0.5 1
AtomPair  CA     7  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1269 0.5 1
AtomPair  CA     7  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.1406 0.5 1
AtomPair  CA     8  CA    16 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.8504 0.5 1
AtomPair  CA     8  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.0556 0.5 1
AtomPair  CA     8  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.7962 0.5 1
AtomPair  CA     8  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.9957 0.5 1
AtomPair  CA     8  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 16.26 0.5 1
AtomPair  CA     9  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.1267 0.5 1
AtomPair  CA     9  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9809 0.5 1
AtomPair  CA     9  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.6106 0.5 1
AtomPair  CA     9  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 16.2298 0.5 1
AtomPair  CA    10  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.7296 0.5 1
AtomPair  CA    10  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.2937 0.5 1
AtomPair  CA    10  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 16.5984 0.5 1
AtomPair  CA    11  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1599 0.5 1
AtomPair  CA    11  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.2051 0.5 1
AtomPair  CA    12  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.8774 0.5 1

