AtomPair  CA     1  CA     6 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.70824 0.5 1
AtomPair  CA     1  CA     7 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.87055 0.5 1
AtomPair  CA     1  CA     8 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.6284 0.5 1
AtomPair  CA     1  CA     9 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.8569 0.5 1
AtomPair  CA     1  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 14.7183 0.5 1
AtomPair  CA     2  CA     7 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.81925 0.5 1
AtomPair  CA     2  CA     8 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.1799 0.5 1
AtomPair  CA     2  CA     9 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.3374 0.5 1
AtomPair  CA     2  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.2784 0.5 1
AtomPair  CA     3  CA     8 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.61418 0.5 1
AtomPair  CA     3  CA     9 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.0404 0.5 1
AtomPair  CA     3  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9599 0.5 1
AtomPair  CA     4  CA     9 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 8.77505 0.5 1
AtomPair  CA     4  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.056 0.5 1
AtomPair  CA     5  CA    10 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 9.23104 0.5 1
AtomPair  CA    12  CA    17 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 6.52351 0.5 1
AtomPair  CA    12  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 7.56392 0.5 1
AtomPair  CA    12  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 11.1918 0.5 1
AtomPair  CA    12  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 13.8774 0.5 1
AtomPair  CA    13  CA    18 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 10.9125 0.5 1
AtomPair  CA    13  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 14.272 0.5 1
AtomPair  CA    13  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 17.3026 0.5 1
AtomPair  CA    14  CA    19 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 12.9212 0.5 1
AtomPair  CA    14  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 16.3697 0.5 1
AtomPair  CA    15  CA    20 SCALARWEIGHTEDFUNC  1 SOGFUNC 1 15.8926 0.5 1

