SiteConstraint  C1  1131X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  1132X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  1133X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  1134X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  1135X A FLAT_HARMONIC 7.50 1.00 2.50
