SiteConstraint  C1  504X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  505X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  506X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  507X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  508X A FLAT_HARMONIC 7.50 1.00 2.50
SiteConstraint  C1  509X A FLAT_HARMONIC 7.50 1.00 2.50
