AtomPair          H         41         HA         91 BOUNDED 1.5   4.641000   0.442000 NOE ;rawdata   4.420000
AtomPair          H         62         HA         85 BOUNDED 1.5   4.903500   0.467000 NOE ;rawdata   4.670000
AtomPair          H          9         HA         97 BOUNDED 1.5   5.134500   0.489000 NOE ;rawdata   4.890000
AtomPair         HA         10         HA         97 BOUNDED 1.5   4.284000   0.408000 NOE ;rawdata   4.080000
AtomPair         HA          8          H        101 BOUNDED 1.5   4.662000   0.444000 NOE ;rawdata   4.440000
AtomPair         HA         67         HA        104 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         62         HA         84 BOUNDED 1.5   5.334000   0.508000 NOE ;rawdata   5.080000
AtomPair         HA          9         HA         42 BOUNDED 1.5   5.712000   0.544000 NOE ;rawdata   5.440000
AtomPair         HA          9         HA         43 BOUNDED 1.5   5.418000   0.516000 NOE ;rawdata   5.160000
AtomPair         HA         39          H         92 BOUNDED 1.5   5.355000   0.510000 NOE ;rawdata   5.100000
AtomPair         HA         43          H         88 BOUNDED 1.5   5.481000   0.522000 NOE ;rawdata   5.220000
AtomPair         HA         59         HA         88 BOUNDED 1.5   3.381000   0.322000 NOE ;rawdata   3.220000
AtomPair         HA         20         HA         27 BOUNDED 1.5   4.840500   0.461000 NOE ;rawdata   4.610000
AtomPair         HA         60          H         71 BOUNDED 1.5   4.704000   0.448000 NOE ;rawdata   4.480000
AtomPair         HA         63         HA         68 BOUNDED 1.5   5.281500   0.503000 NOE ;rawdata   5.030000
AtomPair         HA          7         HA        100 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H          9         HA        100 BOUNDED 1.5   3.496500   0.333000 NOE ;rawdata   3.330000
AtomPair         HA          8         HA        100 BOUNDED 1.5   3.570000   0.340000 NOE ;rawdata   3.400000
AtomPair         HA         40          H         92 BOUNDED 1.5   3.727500   0.355000 NOE ;rawdata   3.550000
AtomPair         HA         40         HA         91 BOUNDED 1.5   3.780000   0.360000 NOE ;rawdata   3.600000
AtomPair         HA         44          H         88 BOUNDED 1.5   4.809000   0.458000 NOE ;rawdata   4.580000
AtomPair         HA         62         HA         68 BOUNDED 1.5   3.549000   0.338000 NOE ;rawdata   3.380000
AtomPair          H         57         HA         74 BOUNDED 1.5   4.452000   0.424000 NOE ;rawdata   4.240000
AtomPair         HA          2         HA        106 BOUNDED 1.5   3.601500   0.343000 NOE ;rawdata   3.430000
AtomPair         HA         24         HA         74 BOUNDED 1.5   5.344500   0.509000 NOE ;rawdata   5.090000
AtomPair         HA          6          H        103 BOUNDED 1.5   4.063500   0.387000 NOE ;rawdata   3.870000
AtomPair         HA          6         HA        102 BOUNDED 1.5   3.307500   0.315000 NOE ;rawdata   3.150000
AtomPair         HA          4          H        103 BOUNDED 1.5   5.092500   0.485000 NOE ;rawdata   4.850000
AtomPair         HA          4         HA        104 BOUNDED 1.5   3.591000   0.342000 NOE ;rawdata   3.420000
AtomPair         HA         57          H         73 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         20         HA         27 BOUNDED 1.5   5.197500   0.495000 NOE ;rawdata   4.950000
AtomPair          H         21         HA         27 BOUNDED 1.5   5.134500   0.489000 NOE ;rawdata   4.890000
AtomPair         HA         69         HA        105 BOUNDED 1.5   4.378500   0.417000 NOE ;rawdata   4.170000
AtomPair         HA         61          H         86 BOUNDED 1.5   3.685500   0.351000 NOE ;rawdata   3.510000
AtomPair         HA         61         HA         85 BOUNDED 1.5   3.339000   0.318000 NOE ;rawdata   3.180000
AtomPair         HA          5         HA        104 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         41         HA         89 BOUNDED 1.5   5.376000   0.512000 NOE ;rawdata   5.120000
AtomPair         HA         18         HA         53 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair         HA         42         HA         89 BOUNDED 1.5   3.874500   0.369000 NOE ;rawdata   3.690000
AtomPair          H          7         HA        102 BOUNDED 1.5   4.158000   0.396000 NOE ;rawdata   3.960000
AtomPair          H         59         HA         72 BOUNDED 1.5   3.948000   0.376000 NOE ;rawdata   3.760000
AtomPair         HA         58         HA         72 BOUNDED 1.5   3.349500   0.319000 NOE ;rawdata   3.190000
AtomPair          H         57         HA         72 BOUNDED 1.5   5.460000   0.520000 NOE ;rawdata   5.200000
AtomPair          H          7          H        101 BOUNDED 1.5   4.000500   0.381000 NOE ;rawdata   3.810000
AtomPair          H          7          H        102 BOUNDED 1.5   5.145000   0.490000 NOE ;rawdata   4.900000
AtomPair          H          7         HA        100 BOUNDED 1.5   4.882500   0.465000 NOE ;rawdata   4.650000
AtomPair          H          5         HA        102 BOUNDED 1.5   5.586000   0.532000 NOE ;rawdata   5.320000
AtomPair          H          5         HA        104 BOUNDED 1.5   4.221000   0.402000 NOE ;rawdata   4.020000
AtomPair          H          4         HA        104 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair         HA         42          H         89 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair         HA         59          H         89 BOUNDED 1.5   4.158000   0.396000 NOE ;rawdata   3.960000
AtomPair         HA          2          H        106 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         43          H         88 BOUNDED 1.5   3.990000   0.380000 NOE ;rawdata   3.800000
AtomPair          H         43         HA         89 BOUNDED 1.5   4.588500   0.437000 NOE ;rawdata   4.370000
AtomPair          H         43         HA         88 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         10         HA         42 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         62          H         86 BOUNDED 1.5   5.481000   0.522000 NOE ;rawdata   5.220000
AtomPair         HA          6          H        102 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair         HA          2          H        105 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair         HA          4          H        105 BOUNDED 1.5   4.494000   0.428000 NOE ;rawdata   4.280000
AtomPair         HA          3          H        105 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H          9          H        101 BOUNDED 1.5   5.187000   0.494000 NOE ;rawdata   4.940000
AtomPair          H         61         HA         85 BOUNDED 1.5   5.722500   0.545000 NOE ;rawdata   5.450000
AtomPair          H         61         HA         68 BOUNDED 1.5   5.344500   0.509000 NOE ;rawdata   5.090000
AtomPair          H         59          H         73 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         59          H         72 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         59          H         71 BOUNDED 1.5   4.189500   0.399000 NOE ;rawdata   3.990000
AtomPair          H         68          H        104 BOUNDED 1.5   4.567500   0.435000 NOE ;rawdata   4.350000
AtomPair         HA         67          H        104 BOUNDED 1.5   4.021500   0.383000 NOE ;rawdata   3.830000
AtomPair          H         40          H         92 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         62         HA         68 BOUNDED 1.5   5.638500   0.537000 NOE ;rawdata   5.370000
AtomPair          H         40         HA         91 BOUNDED 1.5   5.449500   0.519000 NOE ;rawdata   5.190000
AtomPair          H         58         HA         72 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         45          H         88 BOUNDED 1.5   5.659500   0.539000 NOE ;rawdata   5.390000
AtomPair         HA          6          H        101 BOUNDED 1.5   4.861500   0.463000 NOE ;rawdata   4.630000
AtomPair          H         11         HA         97 BOUNDED 1.5   4.672500   0.445000 NOE ;rawdata   4.450000
AtomPair         HA          8          H         99 BOUNDED 1.5   5.113500   0.487000 NOE ;rawdata   4.870000
AtomPair          H          9          H         99 BOUNDED 1.5   3.937500   0.375000 NOE ;rawdata   3.750000
AtomPair         HA         10          H         99 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair         HA         59          H         88 BOUNDED 1.5   5.638500   0.537000 NOE ;rawdata   5.370000
AtomPair         HA         42          H         88 BOUNDED 1.5   5.071500   0.483000 NOE ;rawdata   4.830000
AtomPair          H         41          H         92 BOUNDED 1.5   4.830000   0.460000 NOE ;rawdata   4.600000
AtomPair          H         42         HA         89 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H          3         HA        104 BOUNDED 1.5   5.082000   0.484000 NOE ;rawdata   4.840000
AtomPair          H          3         HA        106 BOUNDED 1.5   4.861500   0.463000 NOE ;rawdata   4.630000
AtomPair          H         63          H         69 BOUNDED 1.5   4.882500   0.465000 NOE ;rawdata   4.650000
AtomPair          H         63         HA         68 BOUNDED 1.5   3.643500   0.347000 NOE ;rawdata   3.470000
AtomPair          H         57          H         73 BOUNDED 1.5   4.294500   0.409000 NOE ;rawdata   4.090000
AtomPair         HA         58          H         73 BOUNDED 1.5   4.263000   0.406000 NOE ;rawdata   4.060000
AtomPair         HA         24          H         73 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         18          H         54 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H          6         HA        102 BOUNDED 1.5   5.155500   0.491000 NOE ;rawdata   4.910000
AtomPair          H          5          H        103 BOUNDED 1.5   4.000500   0.381000 NOE ;rawdata   3.810000
AtomPair         HA          8          H        100 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         61          H         69 BOUNDED 1.5   3.769500   0.359000 NOE ;rawdata   3.590000
AtomPair         HA         60          H         69 BOUNDED 1.5   4.557000   0.434000 NOE ;rawdata   4.340000
AtomPair         HA         62          H         69 BOUNDED 1.5   4.683000   0.446000 NOE ;rawdata   4.460000
AtomPair          H         11          H         98 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H          9          H         98 BOUNDED 1.5   5.281500   0.503000 NOE ;rawdata   5.030000
AtomPair         HA         10          H         98 BOUNDED 1.5   4.399500   0.419000 NOE ;rawdata   4.190000
AtomPair          H         41         HA         92 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         41          H         90 BOUNDED 1.5   4.126500   0.393000 NOE ;rawdata   3.930000
AtomPair          H         43          H         90 BOUNDED 1.5   5.586000   0.532000 NOE ;rawdata   5.320000
AtomPair         HA         42          H         90 BOUNDED 1.5   4.326000   0.412000 NOE ;rawdata   4.120000
AtomPair          H         60         HA         85 BOUNDED 1.5   5.775000   0.550000 NOE ;rawdata   5.500000
AtomPair          H         60          H         86 BOUNDED 1.5   5.481000   0.522000 NOE ;rawdata   5.220000
AtomPair          H         60         HA         88 BOUNDED 1.5   4.368000   0.416000 NOE ;rawdata   4.160000
AtomPair          H         45          H         87 BOUNDED 1.5   5.554500   0.529000 NOE ;rawdata   5.290000
AtomPair          H         60          H         87 BOUNDED 1.5   4.378500   0.417000 NOE ;rawdata   4.170000
AtomPair         HA         59          H         87 BOUNDED 1.5   5.145000   0.490000 NOE ;rawdata   4.900000
AtomPair         HA         61          H         87 BOUNDED 1.5   5.418000   0.516000 NOE ;rawdata   5.160000
