        universe     = vanilla
        Notify_user  =
        notification = Error
        Log          = %(output_dir)s/%(sample_source_id)s/features_%(sample_source_id)s.condor.log
        Executable   = %(bin)s/rosetta_scripts.%(binext)s
        
        Requirements = ( Memory > 512)
        GetEnv       = True
        
        Error   = %(output_dir)s/%(sample_source_id)s/features_%(sample_source_id)s.condor.error.log
        Output  = %(output_dir)s/%(sample_source_id)s/features_%(sample_source_id)s.condor.output.log
        
        arguments = -database %(database)s @%(output_dir)s/%(sample_source_id)s/features.flags
        
        priority = -10
        
        queue 64
