# cst constraint descriptor for esterase active site featuring a 
#a cys/his catalytic diad and one backbone oxyanion hole, plus aromatic binding
# F.Richter, Baker lab, UW,   floric@u.washington.edu



#block 1 for cysteine interacting with substrate

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C6 O4 O2
  TEMPLATE::   ATOM_MAP: 1 residue3: D2N

  TEMPLATE::   ATOM_MAP: 2 atom_type: S   ,
  TEMPLATE::   ATOM_MAP: 2 residue3: CYS
 
  CONSTRAINT:: distanceAB:    2.00   0.30 180.00  1       2
  CONSTRAINT::    angle_A:  105.49   4.00 100.00  360.00  1
  CONSTRAINT::    angle_B:  109.35   8.00  50.00  360.00  2
  CONSTRAINT::  torsion_A:  107.84  10.00  50.00  360.00  2
  CONSTRAINT::  torsion_B:  -79.71  15.00   0.00  360.00  2
  CONSTRAINT:: torsion_AB:   -1.67  75.00   5.00  360.00  5

  ALGORITHM_INFO:: match
    IGNORE_UPSTREAM_PROTON_CHI
  ALGORITHM_INFO::END
 
CST::END


#block 2 for histidine interacting with substrate

CST::BEGIN  
  TEMPLATE::   ATOM_MAP: 1 atom_name: O2 C6 O4
  TEMPLATE::   ATOM_MAP: 1 residue3: D2N

  TEMPLATE::   ATOM_MAP: 2 atom_type: Nhis,
  TEMPLATE::   ATOM_MAP: 2 residue1: H 
 
  CONSTRAINT:: distanceAB:    3.10   0.40  50.00  0      2
  CONSTRAINT::    angle_A:  121.13  20.00  30.00  360.00 4
  CONSTRAINT::    angle_B:  124.12  20.00  20.00  360.00 2
  CONSTRAINT::  torsion_A:  140.21  26.00   0.00  360.00 2
  CONSTRAINT::  torsion_B:  165.74  15.00  25.00  360.00 3
  CONSTRAINT:: torsion_AB:  100.59  15.00   0.00  360.00 2

  ALGORITHM_INFO:: match_positions
            ss ss_char H
  ALGORITHM_INFO::END

CST::END


#block 3 for bb-H oxyanion hole 1
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O4 C6 O2
  TEMPLATE::   ATOM_MAP: 1 residue3: D2N

  TEMPLATE::   ATOM_MAP: 2 atom_name: N CA H
  TEMPLATE::   ATOM_MAP: 2 is_backbone
  TEMPLATE::   ATOM_MAP: 2 residue1: ACDEFGHIKLMNQRSTVWY

  CONSTRAINT:: distanceAB:    2.90   0.40  20.00  0      3
  CONSTRAINT::    angle_A:  110.79  15.00   5.00  360.00 4
  CONSTRAINT::    angle_B:  120.00  25.00  20.00  360.00 3
  CONSTRAINT::  torsion_B:    0.00  25.00  25.00  360.00 3 

  ALGORITHM_INFO:: match
    SECONDARY_MATCH: DOWNSTREAM
  ALGORITHM_INFO::END
 
CST::END

#block 4: backing up histidine
VARIABLE_CST::BEGIN
CST::BEGIN  
  TEMPLATE::   ATOM_MAP: 1 atom_type: Ntrp
  TEMPLATE::   ATOM_MAP: 1 residue1: H 

  TEMPLATE::   ATOM_MAP: 2 atom_type: ONH2,
  TEMPLATE::   ATOM_MAP: 2 residue1: NQ

  CONSTRAINT:: distanceAB:    3.10   0.40  20.00  0 1
  CONSTRAINT::    angle_A:  119.10  20.00   0.00  360.00 2  
  CONSTRAINT::    angle_B:  120.00  20.00   0.00  360.00 2
  CONSTRAINT::  torsion_A:  180.00  30.00   0.00  360.00 4
  CONSTRAINT::  torsion_B:  180.00  30.00  25.00  180.00 1

  ALGORITHM_INFO:: match
    SECONDARY_MATCH: UPSTREAM_CST 2
  ALGORITHM_INFO::END

  ALGORITHM_INFO:: match_positions
    bfactor absolute 34.0
    num_neighbors min_neighbors 12 max_neighbors 22
  ALGORITHM_INFO::END

CST::END

CST::BEGIN  
  TEMPLATE::   ATOM_MAP: 1 atom_type: Ntrp
  TEMPLATE::   ATOM_MAP: 1 residue1: H 

  TEMPLATE::   ATOM_MAP: 2 atom_type: OH  ,
  TEMPLATE::   ATOM_MAP: 2 residue1: STY

  CONSTRAINT:: distanceAB:    3.10   0.40  20.00  0 1
  CONSTRAINT::    angle_A:  119.10  20.00   0.00  360.00 2  
  CONSTRAINT::    angle_B:  110.00  20.00  10.00  360.00 2
  CONSTRAINT::  torsion_A:  180.00  30.00  30.00  360.00 4

  ALGORITHM_INFO:: match
    IGNORE_UPSTREAM_PROTON_CHI
    SECONDARY_MATCH: UPSTREAM_CST 2
  ALGORITHM_INFO::END

CST::END
VARIABLE_CST::END


#block 5: accessory for enforcing the cys-his interaction
#commented out in match file
#CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_type: S   ,
  TEMPLATE::   ATOM_MAP: 1 identical: 1 2
  TEMPLATE::   ATOM_MAP: 1 residue3: CYS

  TEMPLATE::   ATOM_MAP: 2 atom_type: Nhis,
  TEMPLATE::   ATOM_MAP: 2 identical: 2 2
  TEMPLATE::   ATOM_MAP: 2 residue1: H

  CONSTRAINT:: distanceAB:    3.30   0.40  20.00  0
  CONSTRAINT::    angle_A:  130.00  35.00   0.00  360.00
  CONSTRAINT::    angle_B:  130.10  35.00  15.00  360.00
  CONSTRAINT::  torsion_B:  145.50  15.00  15.00  360.00
#CST::END

