#
# Example Binder Config file
#
# Each line represend directive to bind or skip object with format:
# [+|-][namespace|function|class] <name>
#
# line started with '#' is ignored (ie comments)
#

+namespace utility
#-namespace aa


-function utility::foo_skip
-class utility::FArrayInitializer

-function utility::A::foo_a_2
-function utility::B::foo_b_2

#-function std::map::insert
-function std::vector::data
-function std::vector::resize
-class std::_Rb_tree_iterator
