!/external/lib/*/*/*.so
external/DAlpahBall/DAlphaBall.*
/build/*
/bin/*
/html/
/external/dbio/mysql/**
/external/dbio/postgreSQL/**
/src/utility/version.hh
/src/pilot_apps.src.settings
/src/*.my
/src/apps/benchmark/_performance_
/src/apps/benchmark/_old_performance_
/src/apps/benchmark/runtime_diffs.txt
/src/basic/options/keys/*.gen*.hh
/src/basic/options/*.gen.hh
/src/basic/options/full-options-list.md
/src/basic/options/options.dox
/src/core/chemical/ResidueProperty.hh
/src/core/chemical/ResidueProperty_mappings.cc
/src/core/chemical/VariantType.hh
/src/core/chemical/VariantType_mappings.cc
/tools/build/user.settings
/tools/build/user.options
/tools/build/site.settings
/tools/build/site.options
/xcode/build
/xcode/Rosetta.xcodeproj/project.xcworkspace/
/xcode/Rosetta.xcodeproj/xcuserdata
/xcode/Rosetta.xcodeproj/project.pbxproj
# ignore the project.pbxproj.orig file.
# project.pbxproj.template should be used instead!
/xcode/Rosetta.xcodeproj/project.pbxproj.orig
/ide/build
/internal.dat
/.unit_test_results.yaml
/config.log
/.sconf_temp
/.sconsign.dblite
/tags
/TAGS
TAGS
tags
GTAGS
GPATH
GSYMS
GRTAGS
BuildPyRosetta.sh
get_commit_id.sh
/diffs*
/compile*
.unit_test_results.json
_performance_
*~
run_membrane_utests.py
*.bak
*.hh.def
#XRW TODO (to remember to remove at the end); these are relevant for the fast dirty compile system we'll use at the XSD XRW (see also tools/xsd_xrw)
scons_one_auto.bash
scons_one.bash
big_scons_log
temp_scons_stupid_mac_workaround
