!/external/lib/*/*/*.so
/build/*
/bin/*
/html/
/external/dbio/mysql/**
/external/dbio/postgreSQL/**
/src/devel/svn_version.cc
/src/pilot_apps.src.settings
/src/*.my
/src/apps/benchmark/_performance_
/src/apps/benchmark/_old_performance_
/src/apps/benchmark/runtime_diffs.txt
/tools/build/user.settings
/tools/build/user.options
/tools/build/site.settings
/tools/build/site.options
*.cmake
CMakeFiles
!CMakeLists.txt
/cmake/build/*
!/cmake/build/build.pre.cmake
!/cmake/build/build.post.cmake
/cmake/build_*/*
/xcode/build
/xcode/Rosetta.xcodeproj/project.xcworkspace/xcuserdata
/xcode/Rosetta.xcodeproj/xcuserdata
/ide/build
/internal.dat
/.unit_test_results.yaml
/config.log
/.sconf_temp
/.sconsign.dblite
/tags
/TAGS
GTAGS
GPATH
GSYMS
GRTAGS
/xcode/Rosetta.xcodeproj/*
BuildPyRosetta.sh
get_commit_id.sh
/diffs*
/compile*
.unit_test_results.json
