!/external/lib/*/*/*.so
/build/*
/bin/*
/html/
/external/dbio/mysql/**
/external/dbio/postgreSQL/**
/src/devel/svn_version.cc
/src/pilot_apps.src.settings
/src/*.my
/src/apps/benchmark/_performance_
/src/apps/benchmark/_old_performance_
/src/apps/benchmark/runtime_diffs.txt
/src/basic/options/keys/*.gen*.hh
/src/basic/options/*.gen.hh
/src/basic/options/full-options-list.md
/src/basic/options/options.dox
/src/core/chemical/ResidueProperty.hh
/src/core/chemical/ResidueProperty_mappings.cc
/src/core/chemical/VariantType.hh
/src/core/chemical/VariantType_mappings.cc
/tools/build/user.settings
/tools/build/user.options
/tools/build/site.settings
/tools/build/site.options
*.cmake
CMakeFiles
/cmake/build/*
/cmake/build_*/*
!CMakeLists.txt
!/cmake/build/build.pre.cmake
!/cmake/build/build.post.cmake
!/cmake/build/finders
!/cmake/build/modules
!/cmake/build_*/buildme.sh
/xcode/build
/xcode/Rosetta.xcodeproj/project.xcworkspace/
/xcode/Rosetta.xcodeproj/xcuserdata
/xcode/Rosetta.xcodeproj/project.pbxproj
# ignore the project.pbxproj.orig file.
# project.pbxproj.template should be used instead!
/xcode/Rosetta.xcodeproj/project.pbxproj.orig
/ide/build
/internal.dat
/.unit_test_results.yaml
/config.log
/.sconf_temp
/.sconsign.dblite
/tags
/TAGS
TAGS
tags
GTAGS
GPATH
GSYMS
GRTAGS
BuildPyRosetta.sh
get_commit_id.sh
/diffs*
/compile*
.unit_test_results.json
_performance_
*~
run_membrane_utests.py
