#
#
-score:weights standard
-score:patch sc12_fullsrbbhb
#
# The chi term correction
-score::hb_sp2_chipen
-score::hb_sp2_amp 2.0
-score:hb_sp2_peak_heigh_above_trough 3.0
#
#
#
# HBond OH donor correction
-lj_hbond_hdis 1.75
-lj_hbond_OH_donor_dis 2.6
#
#ref_SER -= 0.1; ref_THR -= 0.1;
#
#
-hbond_params OLF_params
#
-options
 -user
#
#
-ignore_unrecognized_res
#
#
-in
 -path %(sample_source_path)s/input/top4400pdbs
 -file
  -l %(sample_source_path)s/input/all_pdbs.list
#
# Since the important output is the feature database,
# ignore the job distributor output.
-out
 -nooutput
#
#
-parser
 -protocol %(output_dir)s/%(sample_source_id)s/features.xml
#
#
#Deleting old poses subsantialy reduces the memory requirements for
#for runs with a large number of structures
-jd2
 -delete_old_poses
#
#
-chemical
 -exclude_patches \
	LowerDNA \
	UpperDNA \
	Cterm_amidation \
	SpecialRotamer \
	protein_cutpoint_upper \
	protein_cutpoint_lower \
	ShoveBB \
	VirtualDNAPhosphate \
	CTermConnect \
	pro_hydroxylated_case1 \
	pro_hydroxylated_case2 \
	ser_phosphorylated \
	thr_phosphorylated \
	tyr_phosphorylated \
	tyr_sulfated \
	lys_dimethylated \
	lys_monomethylated \
	lys_trimethylated \
	lys_acetylated \
	glu_carboxylated \
	cys_acetylated \
	tyr_diiodinated \
	N_acetylated \
	C_methylamidated \
	MethylatedProteinCterm
#
#
-mute protocols.jd2
-mute core.io.pdb.file_data
-mute core.scoring.etable
-mute core.io.database
-mute core.scoring.ScoreFunctionFactory
-mute core.pack.task
-mute protocols.ProteinInterfaceDesign.DockDesign