-loops
 -remodel perturb_kic
 -refine refine_kic
 -max_kic_build_attempts 10000
#   
-in   
 -file
  -fullatom
#
-out
 -file
  -fullatom
  -silent_struct_type binary
  -silent_print_all_score_headers
 -nstruct %(nstruct)s
#
-ex1
-ex2
#
-chemical
 -exclude_patches \
	LowerDNA \
	UpperDNA \
	Cterm_amidation \
	SpecialRotamer \
	VirtualBB \
	ShoveBB \
	VirtualDNAPhosphate \
	VirtualNTerm \
	CTermConnect \
	pro_hydroxylated_case1 \
	pro_hydroxylated_case2 \
	ser_phosphorylated \
	thr_phosphorylated \
	tyr_phosphorylated \
	tyr_sulfated \
	lys_dimethylated \
	lys_monomethylated \
	lys_trimethylated \
	lys_acetylated \
	glu_carboxylated \
	cys_acetylated \
	tyr_diiodinated \
	N_acetylated \
	C_methylamidated \
	MethylatedProteinCterm
#
#
