#!/bin/sh
# Use this script by calling
#
#    python submit.py --local
#
#

%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1a8d_min.pdb \
	-loops:input_pdb input/plop_set/start/1a8d_min.pdb \
	-loops:loop_file input/plop_set/loops/1a8d.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1a8d.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1arb_min.pdb \
	-loops:input_pdb input/plop_set/start/1arb_min.pdb \
	-loops:loop_file input/plop_set/loops/1arb.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1arb.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1bhe_min.pdb \
	-loops:input_pdb input/plop_set/start/1bhe_min.pdb \
	-loops:loop_file input/plop_set/loops/1bhe.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1bhe.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1bn8_min.pdb \
	-loops:input_pdb input/plop_set/start/1bn8_min.pdb \
	-loops:loop_file input/plop_set/loops/1bn8.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1bn8.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1c5e_min.pdb \
	-loops:input_pdb input/plop_set/start/1c5e_min.pdb \
	-loops:loop_file input/plop_set/loops/1c5e.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1c5e.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1cb0_min.pdb \
	-loops:input_pdb input/plop_set/start/1cb0_min.pdb \
	-loops:loop_file input/plop_set/loops/1cb0.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1cb0.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1cnv_min.pdb \
	-loops:input_pdb input/plop_set/start/1cnv_min.pdb \
	-loops:loop_file input/plop_set/loops/1cnv.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1cnv.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1cs6_min.pdb \
	-loops:input_pdb input/plop_set/start/1cs6_min.pdb \
	-loops:loop_file input/plop_set/loops/1cs6.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1cs6.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1dqz_min.pdb \
	-loops:input_pdb input/plop_set/start/1dqz_min.pdb \
	-loops:loop_file input/plop_set/loops/1dqz.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1dqz.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1exm_min.pdb \
	-loops:input_pdb input/plop_set/start/1exm_min.pdb \
	-loops:loop_file input/plop_set/loops/1exm.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1exm.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1f46_min.pdb \
	-loops:input_pdb input/plop_set/start/1f46_min.pdb \
	-loops:loop_file input/plop_set/loops/1f46.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1f46.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1i7p_min.pdb \
	-loops:input_pdb input/plop_set/start/1i7p_min.pdb \
	-loops:loop_file input/plop_set/loops/1i7p.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1i7p.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1m3s_min.pdb \
	-loops:input_pdb input/plop_set/start/1m3s_min.pdb \
	-loops:loop_file input/plop_set/loops/1m3s.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1m3s.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1ms9_min.pdb \
	-loops:input_pdb input/plop_set/start/1ms9_min.pdb \
	-loops:loop_file input/plop_set/loops/1ms9.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1ms9.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1my7_min.pdb \
	-loops:input_pdb input/plop_set/start/1my7_min.pdb \
	-loops:loop_file input/plop_set/loops/1my7.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1my7.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1oth_min.pdb \
	-loops:input_pdb input/plop_set/start/1oth_min.pdb \
	-loops:loop_file input/plop_set/loops/1oth.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1oth.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1oyc_min.pdb \
	-loops:input_pdb input/plop_set/start/1oyc_min.pdb \
	-loops:loop_file input/plop_set/loops/1oyc.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1oyc.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1qlw_min.pdb \
	-loops:input_pdb input/plop_set/start/1qlw_min.pdb \
	-loops:loop_file input/plop_set/loops/1qlw.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1qlw.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/1t1d_min.pdb \
	-loops:input_pdb input/plop_set/start/1t1d_min.pdb \
	-loops:loop_file input/plop_set/loops/1t1d.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/1t1d.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/plop_set/start/2pia_min.pdb \
	-loops:input_pdb input/plop_set/start/2pia_min.pdb \
	-loops:loop_file input/plop_set/loops/2pia.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/plop_set/2pia.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1cyo_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1cyo_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1cyo.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1cyo.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1dts_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1dts_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1dts.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1dts.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1eco_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1eco_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1eco.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1eco.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1ede_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1ede_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1ede.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1ede.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1ezm_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1ezm_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1ezm.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1ezm.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1msc_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1msc_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1msc.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1msc.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1onc_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1onc_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1onc.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1onc.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1pbe_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1pbe_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1pbe.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1pbe.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1rro_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1rro_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1rro.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1rro.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1srp_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1srp_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1srp.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1srp.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1tca_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1tca_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1tca.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1tca.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1thg_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1thg_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1thg.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1thg.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1thw_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1thw_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1thw.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1thw.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1tib_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1tib_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1tib.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1tib.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1tml_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1tml_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1tml.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1tml.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/1xif_min.pdb \
	-loops:input_pdb input/rosetta_set/start/1xif_min.pdb \
	-loops:loop_file input/rosetta_set/loops/1xif.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/1xif.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/2cpl_min.pdb \
	-loops:input_pdb input/rosetta_set/start/2cpl_min.pdb \
	-loops:loop_file input/rosetta_set/loops/2cpl.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/2cpl.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/2ebn_min.pdb \
	-loops:input_pdb input/rosetta_set/start/2ebn_min.pdb \
	-loops:loop_file input/rosetta_set/loops/2ebn.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/2ebn.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/2exo_min.pdb \
	-loops:input_pdb input/rosetta_set/start/2exo_min.pdb \
	-loops:loop_file input/rosetta_set/loops/2exo.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/2exo.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/2rn2_min.pdb \
	-loops:input_pdb input/rosetta_set/start/2rn2_min.pdb \
	-loops:loop_file input/rosetta_set/loops/2rn2.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/2rn2.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/2sil_min.pdb \
	-loops:input_pdb input/rosetta_set/start/2sil_min.pdb \
	-loops:loop_file input/rosetta_set/loops/2sil.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/2sil.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/2tgi_min.pdb \
	-loops:input_pdb input/rosetta_set/start/2tgi_min.pdb \
	-loops:loop_file input/rosetta_set/loops/2tgi.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/2tgi.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/3cla_min.pdb \
	-loops:input_pdb input/rosetta_set/start/3cla_min.pdb \
	-loops:loop_file input/rosetta_set/loops/3cla.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/3cla.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/3hsc_min.pdb \
	-loops:input_pdb input/rosetta_set/start/3hsc_min.pdb \
	-loops:loop_file input/rosetta_set/loops/3hsc.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/3hsc.silent 
	
%(bin)s/loopmodel.%(binext)s \
	-database %(database)s @decoys.flags \
	-in:file:native input/rosetta_set/start/4i1b_min.pdb \
	-loops:input_pdb input/rosetta_set/start/4i1b_min.pdb \
	-loops:loop_file input/rosetta_set/loops/4i1b.loop \
	-out:file:silent %(output_dir)s/%(sample_source_id)s/decoys/rosetta_set/4i1b.silent 



%(bin)s/rosetta_scripts.%(binext)s \
	-database %(database)s \
	@features.flags


